Source: openresty-libmariadb
Section: libs
Priority: optional
Maintainer: OpenResty Admin <admin@openresty.com>
Build-Depends: debhelper (>= 9), openresty-plus-openssl111-dev (>= 1.1.1l)
Standards-Version: 3.9.8
Homepage: https://github.com/orinc/mariadb-connector-c-plus

Package: openresty-libmariadb
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}, openresty-plus-openssl111 (>= 1.1.1l)
Description: The libmariadb library for OpenResty
 The mariadb client library for use by OpenResty ONLY

Package: openresty-libmariadb-dev
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}, openresty-libmariadb (>= 3.2.5.1)
Description: Development files for OpenResty's mariadb client library
 Provides C header and library for OpenResty's mariadb library.

Package: openresty-libmariadb-dbgsym
Section: debug
Architecture: any
Depends: ${misc:Depends}, openresty-libmariadb (>= ${source:Upstream-Version})
Description: Debug symbols for the openresty-libmariadb package
 Debug symbols (or debuginfo) for the openresty-libmariadb package.
