Source: openresty-postgresql12-timescaledb
Section: database
Priority: optional
Maintainer: OpenResty Admin <admin@openresty.com>
Build-Depends: debhelper (>= 9), openresty-postgresql12-dev (>= 12.3)
Standards-Version: 3.9.8
Homepage: https://github.com/timescale/timescaledb

Package: openresty-postgresql12-timescaledb
Architecture: any
Section: database
Depends: ${shlibs:Depends}, ${misc:Depends}, openresty-postgresql12 (>= 12.3)
Description: TimescaleDB PostgreSQL extension
 Open-source PostgreSQL extension designed to make SQL scalable for time-series data.

Package: openresty-postgresql12-timescaledb-dbgsym
Section: debug
Architecture: any
Depends: ${misc:Depends}, openresty-postgresql12-timescaledb (>= 1.7.2)
Description: Debug symbols for the openresty-postgresql12-timescaledb package
 Debug symbols (or debuginfo) for the openresty-postgresql12-timescaledb package.
