#!/usr/bin/make -f

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

export NO_PKG_MANGLE=1
export QA_RPATHS=$[ 0x0002 ]

DESTDIR = $(CURDIR)/debian/tmp

%:
	dh $@ --parallel --with autotools-dev,systemd

override_dh_auto_test:

override_dh_usrlocal:

override_dh_auto_configure:

override_dh_auto_build:
	./bootstrap -DPG_CONFIG=/usr/local/openresty-postgresql12/bin/pg_config -DREGRESS_CHECKS=OFF -DCMAKE_BUILD_TYPE=RelWithDebInfo \
            -DOPENSSL_ROOT_DIR=/usr/local/openresty-plus/openssl111 \
		&& cd build && make -j`nproc`

override_dh_auto_install:
	cd build && make install DESTDIR=$(DESTDIR)

override_dh_auto_clean:
	dh_clean
	rm -fr $(DESTDIR)

override_dh_strip:
	dh_strip --dbg-package=openresty-postgresql12-timescaledb-dbgsym
