openresty-coro-hiredis-nginx-module (0.0.4-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded openresty-coro-hiredis-nginx-module to 0.0.4.

 -- OpenResty Admin <admin@openresty.com>  Wed, 5 Apr 2023 11:12:25 -0700

openresty-coro-hiredis-nginx-module (0.0.3-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded openresty-coro-hiredis-nginx-module to 0.0.3.

 -- OpenResty Admin <admin@openresty.com>  Tue, 4 Apr 2023 11:13:17 -0700

openresty-coro-hiredis-nginx-module (0.0.2-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded openresty-coro-hiredis-nginx-module to 0.0.2.

 -- OpenResty Admin <admin@openresty.com>  Thu, 30 Mar 2023 23:22:47 -0700

openresty-coro-hiredis-nginx-module (0.0.1-1~[% distro %]1) [% distro %]; urgency=high

  * initial build for openresty-coro-hiredis-nginx-module.

 -- OpenResty Admin <admin@openresty.com>  Thu, 30 Mar 2023 00:00:00 +0800

