#!/usr/bin/make -f

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

export NO_PKG_MANGLE=1
export QA_RPATHS=$[ 0x0002 ]

DESTDIR = $(CURDIR)/debian/tmp
PREFIX  = /usr/local/openresty-plus/cyrus-sasl

%:
	dh $@ --parallel --with autotools-dev

override_dh_auto_test:

override_dh_usrlocal:

override_dh_auto_configure:

override_dh_auto_build:
	./autogen.sh --prefix=$(PREFIX) --libdir=$(PREFIX)/lib \
		--enable-gssapi=no --with-openssl=/usr/local/openresty/openssl111 \
		&& make -j`nproc` > /dev/stderr

override_dh_auto_install:
	make install DESTDIR=$(DESTDIR) \
		&& rm -rf $(DESTDIR)/$(PREFIX)/share \
		&& rm -rf  $(DESTDIR)/$(PREFIX)/sbin \
		&& rm -f  $(DESTDIR)/$(PREFIX)/lib/*.la \
		&& rm -f  $(DESTDIR)/$(PREFIX)/lib/sasl2/*.la

override_dh_auto_clean:
	dh_clean
	rm -rf $(DESTDIR)

override_dh_strip:
	dh_strip --dbg-package=openresty-cyrus-sasl-dbgsym
