Source: openresty-postgresql-orsl
Section: database
Priority: optional
Maintainer: OpenResty Admin <admin@openresty.com>
Build-Depends: debhelper (>= 9), openresty-postgresql-dev (>= 9.6.8)
Standards-Version: 3.9.8
Homepage: https://github.com/

Package: openresty-postgresql-orsl
Architecture: any
Section: database
Depends: ${shlibs:Depends}, ${misc:Depends}, openresty-postgresql (>= 9.6.8)
Description: PostgreSQL extension contains utilities used in mini-sl
 PostgreSQL extension contains utilities used in mini-sl

Package: openresty-postgresql-orsl-dbgsym
Section: debug
Architecture: any
Depends: ${misc:Depends}, openresty-postgresql-orsl (>= 0.01)
Description: Debug symbols for the openresty-postgresql-orsl package
 Debug symbols (or debuginfo) for the openresty-postgresql-orsl package.
