openresty-stap2 (5.2.0.1-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded systemtap-plus to 5.2.0.1.

 -- OpenResty Admin <admin@openresty.com>  Thu, 14 Nov 2024 16:42:00 -0800

openresty-stap2 (5.1.0.9-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded systemtap-plus to 5.1.0.9.

 -- OpenResty Admin <admin@openresty.com>  Sun, 23 Jun 2024 20:58:54 -0700

openresty-stap2 (5.1.0.8-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded systemtap-plus to 5.1.0.8.

 -- OpenResty Admin <admin@openresty.com>  Tue, 18 Jun 2024 17:33:03 -0700

openresty-stap2 (5.1.0.7-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded systemtap-plus to 5.1.0.7.

 -- OpenResty Admin <admin@openresty.com>  Fri, 7 Jun 2024 23:53:42 -0700

openresty-stap2 (5.1.0.6-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded systemtap-plus to 5.1.0.6.

 -- OpenResty Admin <admin@openresty.com>  Thu, 6 Jun 2024 13:19:58 -0700

openresty-stap2 (5.1.0.5-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded systemtap-plus to 5.1.0.5.

 -- OpenResty Admin <admin@openresty.com>  Thu, 6 Jun 2024 13:19:08 -0700

openresty-stap2 (5.1.0.4-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded systemtap-plus to 5.1.0.4.

 -- OpenResty Admin <admin@openresty.com>  Fri, 10 May 2024 15:01:42 -0700

openresty-stap2 (5.1.0.3-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded systemtap-plus to 5.1.0.3.

 -- OpenResty Admin <admin@openresty.com>  Wed, 20 Mar 2024 20:05:26 -0700

openresty-stap2 (5.1.0.2-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded systemtap-plus to 5.1.0.2.

 -- OpenResty Admin <admin@openresty.com>  Wed, 13 Mar 2024 00:02:46 -0700

openresty-stap2 (5.1.0.1-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded systemtap-plus to 5.1.0.1.

 -- OpenResty Admin <admin@openresty.com>  Wed, 28 Feb 2024 22:37:01 -0800

openresty-stap2 (4.9.0.23-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded systemtap-plus to 4.9.0.23.

 -- OpenResty Admin <admin@openresty.com>  Mon, 26 Feb 2024 18:29:01 -0800
