Source: openresty-perl-mime-base64
Section: libdevel
Priority: optional
Maintainer: OpenResty Admin <admin@openresty.com>
Build-Depends: debhelper (>= 9), openresty-perl (>= 5.24.4), openresty-perl-dev (>= 5.24.4)
Standards-Version: 3.9.8
Homepage: http://search.cpan.org/dist/MIME-Base64/

Package: openresty-perl-mime-base64
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends}, ${misc:Depends}, openresty-perl (>= 5.24.4)
Description: Encoding and decoding of base64 strings
 This module provides functions to encode and decode strings into and from
 the base64 encoding specified in RFC 2045 - MIME (Multipurpose Internet
 Mail Extensions). The base64 encoding is designed to represent arbitrary
 sequences of octets in a form that need not be humanly readable. A
 65-character subset ([A-Za-z0-9+/=]) of US-ASCII is used, enabling 6 bits
 to be represented per printable character.

Package: openresty-perl-mime-base64-dbgsym
Section: debug
Architecture: any
Depends: ${misc:Depends}, openresty-perl-mime-base64 (>= 3.16)
Description: Debug symbols for the openresty-perl-mime-base64 package
 Debug symbols (or debuginfo) for the openresty-perl-mime-base64 package.
