#!/usr/bin/make -f

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

export NO_PKG_MANGLE=1
export QA_RPATHS=$[ 0x0002 ]

DESTDIR = $(CURDIR)/debian/tmp

%:
	dh $@ --parallel --with autotools-dev

override_dh_auto_test:

override_dh_usrlocal:

override_dh_auto_configure:

override_dh_auto_build:
	cd openresty-OPENRESTY_VERSION/ \
	&& cd bundle/nginx-NGINX_VERSION \
	&& cat ../../../ngx_multi_upstream_module-1.2.0.1/nginx-NGINX_VERSION.patch | patch -p1 \
	&& cd ../.. \
	&& ./configure \
    --prefix="/usr/local/openresty" \
    --with-cc='ccache gcc -fdiagnostics-color=always' \
    --with-cc-opt="-I/usr/local/openresty/zlib/include -I/usr/local/openresty/pcre/include -I/usr/local/openresty/openssl111/include -O3" \
    --with-ld-opt="-L/usr/local/openresty/zlib/lib -L/usr/local/openresty/pcre/lib -L/usr/local/openresty/openssl111/lib -Wl,-rpath,/usr/local/openresty/zlib/lib:/usr/local/openresty/pcre/lib:/usr/local/openresty/openssl111/lib" \
    --with-compat --with-threads \
    --add-dynamic-module=../ \
    --add-dynamic-module=../ngx_multi_upstream_module-1.2.0.1 \
	&& make -C build/nginx-*/ modules -j`nproc`

override_dh_auto_install:
	rm -rf $(DESTDIR) \
		&& mkdir -p $(DESTDIR)/usr/local/openresty/nginx/modules \
		&& cd openresty-*/ \
		&& install -m755 build/nginx-*/objs/*.so $(DESTDIR)/usr/local/openresty/nginx/modules

override_dh_auto_clean:
	dh_clean
	rm -rf $(DESTDIR)

override_dh_strip:
	dh_strip --dbg-package=dubbo-nginx-module-plus-NGINX_VERSION-dbgsym
