Package: openresty-yajl-dev
Source: openresty-yajl
Version: 2.1.0.2-1~xenial1
Architecture: amd64
Maintainer: OpenResty Admin <admin@openresty.com>
Installed-Size: 113
Depends: openresty-yajl (= 2.1.0.2)
Section: libdevel
Priority: optional
Homepage: http://lloyd.github.com/yajl/
Description: Libraries, includes, etc to develop with YAJL
 Yet Another JSON Library. YAJL is a small event-driven
 (SAX-style) JSON parser written in ANSI C, and a small
 validating JSON generator.
 This sub-package provides the libraries and includes
 necessary for developing against the YAJL library
