Source: openresty-openssl111-debug
Section: libs
Priority: optional
Maintainer: OpenResty Admin <admin@openresty.com>
Build-Depends: debhelper (>= 9), autotools-dev, openresty-zlib-dev
Standards-Version: 3.9.8
Homepage: https://www.openssl.org/

Package: openresty-openssl111-debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, openresty-zlib
Description: Debug version of the OpenSSL 1.1.1 library for OpenResty
 This is the debug version of the OpenSSL 1.1.1 library build for OpenResty uses.

Package: openresty-openssl111-debug-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, openresty-openssl111-debug (>= 1.1.1g)
Description: Development files for OpenResty's OpenSSL 1.1.1 library - debug version
 Provides C header and static library for OpenResty's debug version of OpenSSL
 library.

Package: openresty-openssl111-debug-dbgsym
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, openresty-openssl111-debug (>= 1.1.1g)
Description: Debug symbols for OpenResty's OpenSSL 1.1.1 library - debug version
 Debug symbols for OpenResty's debug version of OpenSSL 1.1.1 library.
