Source: openresty-plus-openssl-debug
Section: libs
Priority: optional
Maintainer: OpenResty Admin <admin@openresty.com>
Build-Depends: debhelper (>= 9), autotools-dev, openresty-zlib-dev
Standards-Version: 3.9.8
Homepage: https://www.openssl.org/

Package: openresty-plus-openssl-debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, openresty-zlib
Description: Debug version of OpenSSL library for use by OpenResty ONLY
 This OpenSSL library build is specifically for OpenResty uses. It contains
 custom patches from OpenResty.

Package: openresty-plus-openssl-debug-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, openresty-plus-openssl-debug (>= 1.0.2k)
Description: Debug version of development files for OpenResty's OpenSSL library
 Provides C header and static library for OpenResty's OpenSSL library.

Package: openresty-plus-openssl-debug-dbgsym
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, openresty-plus-openssl-debug (>= 1.0.2k)
Description: Debug symbols for OpenResty's OpenSSL library - debug version
 Debug symbols for OpenResty's OpenSSL library.
