Source: openresty-postgresql16-timescaledb
Section: database
Priority: optional
Maintainer: OpenResty Admin <admin@openresty.com>
Build-Depends: debhelper (>= 9), openresty-postgresql16-dev (>= 16.5), openresty-plus-openssl111-dev
Standards-Version: 3.9.8
Homepage: https://github.com/timescale/timescaledb

Package: openresty-postgresql16-timescaledb
Architecture: any
Section: database
Depends: ${shlibs:Depends}, ${misc:Depends}, openresty-postgresql16 (>= 16.5), openresty-plus-openssl111
Description: TimescaleDB PostgreSQL extension
 Open-source PostgreSQL extension designed to make SQL scalable for time-series data.

Package: openresty-postgresql16-timescaledb-dbgsym
Section: debug
Architecture: any
Depends: ${misc:Depends}, openresty-postgresql16-timescaledb (>= ${source:Upstream-Version})
Description: Debug symbols for the openresty-postgresql16-timescaledb package
 Debug symbols (or debuginfo) for the openresty-postgresql16-timescaledb package.
