openresty-plus (1.13.6.2.64-2~[% distro %]1) [% distro %]; urgency=high

  * included ngx_stream_ssl_preread_module.

 -- OpenResty Admin <admin@openresty.com>  Thu, 23 May 2019 23:02:21 -0700

openresty-plus (1.13.6.2.64-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.64.

 -- OpenResty Admin <admin@openresty.com>  Fri, 17 May 2019 23:02:21 -0700

openresty-plus (1.13.6.2.63-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.63.

 -- OpenResty Admin <admin@openresty.com>  Wed, 15 May 2019 18:22:00 -0700

openresty-plus (1.13.6.2.62-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.62.

 -- OpenResty Admin <admin@openresty.com>  Tue, 30 Apr 2019 20:43:50 -0700

openresty-plus (1.13.6.2.61-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.61.

 -- OpenResty Admin <admin@openresty.com>  Fri, 26 Apr 2019 00:07:33 -0700

openresty-plus (1.13.6.2.60-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.60.

 -- OpenResty Admin <admin@openresty.com>  Wed, 24 Apr 2019 02:19:44 -0700

openresty-plus (1.13.6.2.59-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.59.

 -- OpenResty Admin <admin@openresty.com>  Mon, 1 Apr 2019 20:35:09 -0700

openresty-plus (1.13.6.2.58-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.58.

 -- OpenResty Admin <admin@openresty.com>  Sat, 30 Mar 2019 19:31:32 -0700

openresty-plus (1.13.6.2.57-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.57.

 -- OpenResty Admin <admin@openresty.com>  Wed, 27 Mar 2019 22:23:44 -0700

openresty-plus (1.13.6.2.56-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.56.

 -- OpenResty Admin <admin@openresty.com>  Wed, 20 Mar 2019 19:48:46 -0700

openresty-plus (1.13.6.2.55-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.55.

 -- OpenResty Admin <admin@openresty.com>  Fri, 1 Mar 2019 23:23:36 -0800

openresty-plus (1.13.6.2.53-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.53.

 -- OpenResty Admin <admin@openresty.com>  Sun, 10 Feb 2019 20:26:58 -0800

openresty-plus (1.13.6.2.52-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.52.

 -- OpenResty Admin <admin@openresty.com>  Wed, 30 Jan 2019 21:15:56 -0800

openresty-plus (1.13.6.2.51-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.51.

 -- OpenResty Admin <admin@openresty.com>  Sun, 20 Jan 2019 11:28:52 -0800

openresty-plus (1.13.6.2.50-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.50.

 -- OpenResty Admin <admin@openresty.com>  Wed, 16 Jan 2019 22:36:20 -0800

openresty-plus (1.13.6.2.49-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.49.

 -- OpenResty Admin <admin@openresty.com>  Mon, 7 Jan 2019 17:20:02 -0800

openresty-plus (1.13.6.2.48-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.48.

 -- OpenResty Admin <admin@openresty.com>  Fri, 4 Jan 2019 15:06:12 -0800

openresty-plus (1.13.6.2.47-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.47.

 -- OpenResty Admin <admin@openresty.com>  Thu, 3 Jan 2019 11:33:52 -0800

openresty-plus (1.13.6.2.46-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.46.

 -- OpenResty Admin <admin@openresty.com>  Tue, 1 Jan 2019 16:10:03 -0800

openresty-plus (1.13.6.2.45-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.45.

 -- OpenResty Admin <admin@openresty.com>  Mon, 31 Dec 2018 11:51:21 -0800

openresty-plus (1.13.6.2.44-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.44.

 -- OpenResty Admin <admin@openresty.com>  Sun, 30 Dec 2018 21:59:29 -0800

openresty-plus (1.13.6.2.43-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.43.

 -- OpenResty Admin <admin@openresty.com>  Sun, 30 Dec 2018 15:47:00 -0800

openresty-plus (1.13.6.2.42-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.42.

 -- OpenResty Admin <admin@openresty.com>  Thu, 27 Dec 2018 20:32:57 -0800

openresty-plus (1.13.6.2.41-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.41.

 -- OpenResty Admin <admin@openresty.com>  Mon, 24 Dec 2018 23:32:53 -0800

openresty-plus (1.13.6.2.40-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.40.

 -- OpenResty Admin <admin@openresty.com>  Wed, 19 Dec 2018 21:56:15 -0800

openresty-plus (1.13.6.2.39-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.39.

 -- OpenResty Admin <admin@openresty.com>  Mon, 17 Dec 2018 21:17:21 -0800

openresty-plus (1.13.6.2.38-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.38.

 -- OpenResty Admin <admin@openresty.com>  Sat, 15 Dec 2018 21:14:40 -0800

openresty-plus (1.13.6.2.37-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.37.

 -- OpenResty Admin <admin@openresty.com>  Sat, 15 Dec 2018 19:29:03 -0800

openresty-plus (1.13.6.2.36-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.36.

 -- OpenResty Admin <admin@openresty.com>  Sat, 15 Dec 2018 15:55:35 -0800

openresty-plus (1.13.6.2.35-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.35.

 -- OpenResty Admin <admin@openresty.com>  Sat, 15 Dec 2018 00:50:09 -0800

openresty-plus (1.13.6.2.34-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.34.

 -- OpenResty Admin <admin@openresty.com>  Fri, 14 Dec 2018 22:39:35 -0800

openresty-plus (1.13.6.2.33-2~[% distro %]1) [% distro %]; urgency=high

  * we incorrectly exclude libtcc1.a which is needed by the libtcc runtime.

  * we enable GC64 mode in the bundled LuaJIT.

 -- OpenResty Admin <admin@openresty.com>  Tue, 11 Dec 2018 20:04:04 -0800

openresty-plus (1.13.6.2.33-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.33.

 -- OpenResty Admin <admin@openresty.com>  Tue, 11 Dec 2018 20:04:04 -0800

openresty-plus (1.13.6.2.32-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.32.

 -- OpenResty Admin <admin@openresty.com>  Mon, 10 Dec 2018 01:12:18 -0800

openresty-plus (1.13.6.2.31-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.31.

 -- OpenResty Admin <admin@openresty.com>  Sun, 9 Dec 2018 14:49:29 -0800

openresty-plus (1.13.6.2.30-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.30.

 -- OpenResty Admin <admin@openresty.com>  Sun, 2 Dec 2018 21:20:35 -0800

openresty-plus (1.13.6.2.29-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.29.

 -- OpenResty Admin <admin@openresty.com>  Thu, 22 Nov 2018 21:38:55 -0800

openresty-plus (1.13.6.2.28-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.28.

 -- OpenResty Admin <admin@openresty.com>  Tue, 20 Nov 2018 17:07:53 -0800

openresty-plus (1.13.6.2.27-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.27.

 -- OpenResty Admin <admin@openresty.com>  Mon, 5 Nov 2018 22:01:51 -0800

openresty-plus (1.13.6.2.26-2~[% distro %]1) [% distro %]; urgency=high

  * fixed the lmdb packaging.

 -- OpenResty Admin <admin@openresty.com>  Sat, 3 Nov 2018 18:48:30 -0700

openresty-plus (1.13.6.2.26-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.26.

 -- OpenResty Admin <admin@openresty.com>  Sat, 3 Nov 2018 14:23:04 -0700

openresty-plus (1.13.6.1.4-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.1.4.

 -- OpenResty Admin <admin@openresty.com>  Sun, 26 Nov 2017 16:12:24 -0800

openresty-plus (1.13.6.1.3-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.1.3.

 -- OpenResty Admin <admin@openresty.com>  Fri, 17 Nov 2017 12:54:18 -0800

openresty-plus (1.13.6.1.2-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.1.2.

 -- OpenResty Admin <admin@openresty.com>  Wed, 15 Nov 2017 10:56:41 -0800

openresty-plus (1.13.6.1.1-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.1.1.

 -- OpenResty Admin <admin@openresty.com>  Mon, 13 Nov 2017 23:20:07 -0800

openresty-plus (1.13.6.0.4-1~[% distro %]1) [% distro %]; urgency=high

  * Upgraded openresty-plus to 1.13.6.0.4.

 -- OpenResty Admin <admin@openresty.com>  Tue, 7 Nov 2017 12:21:07 -0800

openresty-plus (1.11.2.5.11-1~[% distro %]1) [% distro %]; urgency=low

  * Upgraded openresty-plus to 1.11.2.5.11.

 -- OpenResty Admin <admin@openresty.com>  Tue, 17 Oct 2017 11:47:02 -0700

openresty-plus (1.11.2.5.2-1~[% distro %]1) [% distro %]; urgency=low

  * Upgraded openresty-plus to 1.11.2.5.2.

 -- OpenResty Admin <admin@openresty.com>  Sun, 20 Aug 2017 11:47:02 -0700

openresty-plus (1.11.2.4.8-1~[% distro %]1) [% distro %]; urgency=high

  * Upgraded openresty-plus to 1.11.2.4.8.

 -- OpenResty Admin <admin@openresty.com>  Sun, 20 Aug 2017 11:47:02 -0700

openresty-plus (1.11.2.4.6-1~[% distro %]1) [% distro %]; urgency=high

  * Initial release

 -- OpenResty Admin <admin@openresty.com>  Wed, 09 Aug 2017 14:17:26 -0700
