openresty-plus (1.13.6.1.1-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.1.1.

 -- OpenResty Admin <admin@openresty.com>  Mon, 13 Nov 2017 23:20:07 -0800

openresty-plus (1.13.6.0.4-1~[% distro %]1) [% distro %]; urgency=high

  * Upgraded openresty-plus to 1.13.6.0.4.

 -- OpenResty Admin <admin@openresty.com>  Tue, 7 Nov 2017 12:21:07 -0800

openresty-plus (1.11.2.5.11-1~[% distro %]1) [% distro %]; urgency=low

  * Upgraded openresty-plus to 1.11.2.5.11.

 -- OpenResty Admin <admin@openresty.com>  Tue, 17 Oct 2017 11:47:02 -0700

openresty-plus (1.11.2.5.2-1~[% distro %]1) [% distro %]; urgency=low

  * Upgraded openresty-plus to 1.11.2.5.2.

 -- OpenResty Admin <admin@openresty.com>  Sun, 20 Aug 2017 11:47:02 -0700

openresty-plus (1.11.2.4.8-1~[% distro %]1) [% distro %]; urgency=high

  * Upgraded openresty-plus to 1.11.2.4.8.

 -- OpenResty Admin <admin@openresty.com>  Sun, 20 Aug 2017 11:47:02 -0700

openresty-plus (1.11.2.4.6-1~[% distro %]1) [% distro %]; urgency=high

  * Initial release

 -- OpenResty Admin <admin@openresty.com>  Wed, 09 Aug 2017 14:17:26 -0700
