openresty-edgcpfe (6.6.0.16-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded openresty-edgcpfe to 6.6.0.16.

 -- OpenResty Admin <admin@openresty.com>  Sun, 21 Apr 2024 21:50:16 -0700

openresty-edgcpfe (6.6.0.15-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded openresty-edgcpfe to 6.6.0.15.

 -- OpenResty Admin <admin@openresty.com>  Sun, 21 Apr 2024 17:38:08 -0700

openresty-edgcpfe (6.6.0.14-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded openresty-edgcpfe to 6.6.0.14.

 -- OpenResty Admin <admin@openresty.com>  Mon, 15 Apr 2024 19:47:20 -0700

openresty-edgcpfe (6.6.0.13-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded openresty-edgcpfe to 6.6.0.13.

 -- OpenResty Admin <admin@openresty.com>  Sun, 14 Apr 2024 19:57:34 -0700

openresty-edgcpfe (6.6.0.12-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded openresty-edgcpfe to 6.6.0.12.

 -- OpenResty Admin <admin@openresty.com>  Wed, 10 Apr 2024 22:38:08 -0700

openresty-edgcpfe (6.6.0.11-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded openresty-edgcpfe to 6.6.0.11.

 -- OpenResty Admin <admin@openresty.com>  Sat, 6 Apr 2024 21:14:24 -0700

openresty-edgcpfe (6.6.0.10-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded openresty-edgcpfe to 6.6.0.10.

 -- OpenResty Admin <admin@openresty.com>  Fri, 29 Mar 2024 11:23:28 -0700

openresty-edgcpfe (6.6.0.9-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded openresty-edgcpfe to 6.6.0.9.

 -- OpenResty Admin <admin@openresty.com>  Thu, 28 Mar 2024 22:29:44 -0700

openresty-edgcpfe (6.6.0.8-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded openresty-edgcpfe to 6.6.0.8.

 -- OpenResty Admin <admin@openresty.com>  Thu, 28 Mar 2024 22:25:39 -0700

openresty-edgcpfe (6.6.0.5-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded openresty-edgcpfe to 6.6.0.5.

 -- OpenResty Admin <admin@openresty.com>  Fri, 23 Feb 2024 22:40:31 -0800

openresty-edgcpfe (6.6.0.4-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded openresty-edgcpfe to 6.6.0.4.

 -- OpenResty Admin <admin@openresty.com>  Fri, 23 Feb 2024 22:13:12 -0800

openresty-edgcpfe (6.6.0.3-3~[% distro %]1) [% distro %]; urgency=high

  * added include/*.{h,stdh} files.

 -- OpenResty Admin <admin@openresty.com>  Fri, 23 Feb 2024 21:53:42 -0800

openresty-edgcpfe (6.6.0.3-2~[% distro %]1) [% distro %]; urgency=high

  * added lib/* files.

 -- OpenResty Admin <admin@openresty.com>  Fri, 23 Feb 2024 20:32:19 -0800

openresty-edgcpfe (6.6.0.3-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded openresty-edgcpfe to 6.6.0.3.

 -- OpenResty Admin <admin@openresty.com>  Fri, 23 Feb 2024 20:20:07 -0800

openresty-edgcpfe (6.6.0.2-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded openresty-edgcpfe to 6.6.0.2.

 -- OpenResty Admin <admin@openresty.com>  Fri, 23 Feb 2024 20:06:35 -0800

openresty-edgcpfe (6.6.0.1-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded openresty-edgcpfe to 6.6.0.1.

 -- OpenResty Admin <admin@openresty.com>  Fri, 23 Feb 2024 18:12:04 -0800

openresty-edgcpfe (6.3.1.1-1~[% distro %]1) [% distro %]; urgency=high

  * packaging files were generated by spec2deb.pl.

 -- OpenResty Admin <admin@openresty.com>  Sun, 18 Feb 2024 23:07:05 -0700

