Source: openresty-perl-readonly
Section: libdevel
Priority: optional
Maintainer: OpenResty Admin <admin@openresty.com>
Build-Depends: debhelper (>= 9), openresty-perl (>= 5.24.4), openresty-perl-module-build-tiny (>= 0.035)
Standards-Version: 3.9.8
Homepage: http://search.cpan.org/dist/Readonly/

Package: openresty-perl-readonly
Architecture: any
Section: libdevel
Depends: ${misc:Depends}, openresty-perl (>= 5.24.4)
Description: Facility for creating read-only scalars, arrays, hashes
 Readonly::Scalar    $sca => $initial_value; Readonly::Scalar my $sca =>
 $initial_value;
 This build is specifically for OpenResty uses.

Package: openresty-perl-readonly-dbgsym
Section: debug
Architecture: any
Depends: ${misc:Depends}, openresty-perl-readonly (>= ${source:Version})
Description: Debug symbols for the openresty-perl-readonly package
 Debug symbols (or debuginfo) for the openresty-perl-readonly package.
