#!/usr/bin/make -f

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

export NO_PKG_MANGLE=1
export QA_RPATHS=$[ 0x0002 ]

DESTDIR = $(CURDIR)/debian/tmp

clean:
	mv setup.py mysetup.py
	dh $@ --parallel --with autotools-dev,systemd
	mv mysetup.py setup.py

%:
	dh $@ --parallel --with autotools-dev,systemd

override_dh_auto_test:

override_dh_usrlocal:

override_dh_auto_configure:

override_dh_auto_build:
	export PYTHONPATH= \
		&& ./configure --prefix=/usr/local/openresty-python3 --enable-shared --enable-ipv6 \
    --without-ensurepip \
    LDFLAGS="-L. -L/usr/local/openresty-python3/lib -Wl,-rpath,/usr/local/openresty-python3/lib" \
    CFLAGS="-g3" \
		&& make -j`nproc` > /dev/null

override_dh_auto_install:
	make \
    DESTDIR=$(DESTDIR) \
    INSTALL="install -p" \
    install > /dev/null \
		&& find $(DESTDIR) -type f -print0 | xargs -0 chmod u+w \
		&& rm -rf $(DESTDIR)/usr/local/openresty-python3/share \
		&& ( find $(DESTDIR)/usr/local/openresty-python3/lib -type d -name 'test' -exec rm -rf "{}" \; || exit 0 ) \
		&& ( find $(DESTDIR)/usr/local/openresty-python3/lib -type d -name 'tests' -exec rm -rf "{}" \; || exit 0 ) \
		&& ( find $(DESTDIR)/usr/local/openresty-python3/lib -type d -name 'unittest' -exec rm -rf "{}" \; || exit 0 )

override_dh_clean:
	dh_clean
	rm -rf $(DESTDIR)

override_dh_strip:
	dh_strip --dbg-package=openresty-python3-dbgsym
