openresty-coro-nginx-module (0.0.3-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded openresty-coro-nginx-module to 0.0.3.

 -- OpenResty Admin <admin@openresty.com>  Thu, 30 Mar 2023 21:13:54 -0700

openresty-coro-nginx-module (0.0.1-1~[% distro %]1) [% distro %]; urgency=high

  * initial build for openresty-coro-nginx-module.

 -- OpenResty Admin <admin@openresty.com>  Thu, 30 Mar 2023 00:00:00 +0800

