Source: openresty-bpftool
Section: interpreters
Priority: optional
Maintainer: OpenResty Admin <admin@openresty.com>
Build-Depends: debhelper (>= 9), ccache, gcc, make, perl, pkg-config, openresty-libbpf-dev, openresty-elfutils-dev, openresty-binutils-dev, libcap-dev, openresty-zlib-dev, vim-common
Standards-Version: 3.9.8
Homepage: https://openresty.com/

Package: openresty-bpftool
Architecture: any
Section: interpreters
Depends: ${shlibs:Depends}, ${misc:Depends}, openresty-libbpf, openresty-elfutils, openresty-binutils-dev, libcap2, openresty-zlib
Description: OpenResty's fork of bpftool
 OpenResty Inc's private fork of bpftool from the Linux kernel.

Package: openresty-bpftool-dbgsym
Section: debug
Architecture: any
Depends: ${misc:Depends}, openresty-bpftool (>= ${source:Upstream-Version})
Description: Debug symbols for the openresty-bpftool package
 Debug symbols (or debuginfo) for the openresty-bpftool package.
