Source: openresty-edge-pki
Section: libdevel
Priority: optional
Maintainer: OpenResty Admin <admin@openresty.com>
Build-Depends: debhelper (>= 9), gcc, make, openresty-plus-core (>= 1.19.9.1.55), openresty-plus-openssl111-dev
Standards-Version: 3.9.8
Homepage: https://www.openresty.com/

Package: openresty-edge-pki
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends}, ${misc:Depends}, openresty-plus-core
Description: OpenResty Edge Certificates Library
 Lua API for generating/verifying edge certificates.

Package: openresty-edge-pki-dbgsym
Section: debug
Architecture: any
Depends: ${misc:Depends}, openresty-edge-pki (>= ${source:Upstream-Version})
Description: Debug symbols for the openresty-edge-pki package
 Debug symbols (or debuginfo) for the openresty-edge-pki package.
