[Unit]
Description=PostgreSQL database server

[Service]
Type=simple
User=postgres
ExecStart=/usr/local/openresty-postgresql12/bin/postmaster -D /var/postgres12/data
ExecReload=/bin/kill -HUP $MAINPID
KillMode=mixed
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
