#!/usr/bin/make -f

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

export NO_PKG_MANGLE=1
export QA_RPATHS=$[ 0x0002 ]

PREFIX=/usr/local/openresty-binutils

DESTDIR = $(CURDIR)/debian/tmp

%:
	dh $@ --parallel --with autotools-dev,systemd

override_dh_auto_test:

override_dh_usrlocal:

override_dh_auto_configure:

override_dh_auto_build:
	./configure \
		--prefix=$(PREFIX) --libdir=$(PREFIX)/lib \
		--disable-ld --disable-gas --disable-gold \
		--disable-ar --disable-gprof --disable-gprofng --disable-dlltool --disable-ranlib --disable-windmc \
		--disable-windres --disable-nlmconv --with-system-zlib --disable-gdb \
		--disable-bdf --disable-etc --disable-gnulib --disable-intl \
		--disable-libdecnumber --disable-sim --disable-readline \
		--enable-targets=all \
		--disable-libquadmath \
		--enable-shared \
		--disable-libctf \
                --with-debuginfod=no \
		CFLAGS='-Wno-error -g -O2' \
		CC='ccache gcc'
	make -j`nproc` all-binutils

override_dh_auto_install:
	make install-binutils DESTDIR=$(DESTDIR) > /dev/null \
		&& rm -rf $(DESTDIR)$(PREFIX)/share/man \
		&& rm -rf $(DESTDIR)$(PREFIX)/share/info \
		&& rm -rf $(DESTDIR)$(PREFIX)/share/locale \
		&& rm -rf $(DESTDIR)$(PREFIX)/x86_64-pc-linux-gnu \
		&& rm -f $(DESTDIR)$(PREFIX)/bin/ar \
		&& rm -f $(DESTDIR)$(PREFIX)/bin/elfedit \
		&& rm -f $(DESTDIR)$(PREFIX)/lib/*.a \
		&& rm -f $(DESTDIR)$(PREFIX)/bin/ranlib

override_dh_auto_clean:
	dh_clean
	rm -rf $(DESTDIR)

override_dh_strip:
	dh_strip --dbg-package=openresty-binutils-dbgsym

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info \
		-l$(shell pwd)/debian/openresty-binutils/$(PREFIX)/lib
