#!/usr/bin/make -f

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

export NO_PKG_MANGLE=1
export QA_RPATHS=$[ 0x0002 ]

DESTDIR = $(CURDIR)/debian/tmp

%:
	dh $@ --parallel --with autotools-dev,systemd

override_dh_auto_test:

override_dh_usrlocal:

override_dh_auto_configure:

override_dh_auto_build:
	CC='ccache gcc -fdiagnostics-color=always' \
    ./configure \
    --prefix=/usr/local/openresty-binutils --disable-ld --disable-gas --disable-gold \
    --disable-ar --disable-gprof --disable-dlltool --disable-ranlib --disable-windmc \
    --disable-windres --disable-nlmconv --with-system-zlib --disable-gdb \
    --disable-bdf --disable-etc --disable-gnulib --disable-intl \
    --disable-libdecnumber --disable-sim --disable-nm --disable-readline \
    --disable-libquadmath \
		&& make -j`nproc`

override_dh_auto_install:
	make install DESTDIR=$(DESTDIR) \
		&& rm -rf $(DESTDIR)/usr/local/openresty-binutils/share/man \
		&& rm -rf $(DESTDIR)/usr/local/openresty-binutils/share/locale \
		&& rm -f $(DESTDIR)/usr/local/openresty-binutils/bin/ar \
		&& rm -f $(DESTDIR)/usr/local/openresty-binutils/bin/elfedit \
		&& rm -f $(DESTDIR)/usr/local/openresty-binutils/bin/ranlib

override_dh_auto_clean:
	dh_clean
	rm -rf $(DESTDIR)

override_dh_strip:
	dh_strip --dbg-package=openresty-binutils-dbgsym
