Source: lua-resty-http-fast-1.27.1
Section: libdevel
Priority: optional
Maintainer: OpenResty Admin <admin@openresty.com>
Build-Depends: debhelper (>= 9), openresty (>= 1.17.8.2)
Standards-Version: 3.9.8
Homepage: https://www.openresty.com/

Package: lua-resty-http-fast-1.27.1
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends}, ${misc:Depends}, coro-libcurl-nginx-module-1.27.1 (>= 0.0.8)
Description: http client library using coro
 This is a client that supports the redis cluster for OpenResty.

Package: lua-resty-http-fast-1.27.1-dbgsym
Section: debug
Architecture: any
Depends: ${misc:Depends}, lua-resty-http-fast-1.27.1 (>= ${source:Upstream-Version})
Description: Debug symbols for the lua-resty-http-fast-1.27.1 package
 Debug symbols (or debuginfo) for the lua-resty-http-fast-1.27.1 package.
