Source: openresty-perl-extutils-config
Section: libdevel
Priority: optional
Maintainer: OpenResty Admin <admin@openresty.com>
Build-Depends: debhelper (>= 9), openresty-perl (>= 5.24.4)
Standards-Version: 3.9.8
Homepage: http://search.cpan.org/dist/ExtUtils-Config/

Package: openresty-perl-extutils-config
Architecture: any
Section: libdevel
Depends: ${misc:Depends}, openresty-perl (>= 5.24.4)
Description: A wrapper for perl's configuration
 ExtUtils::Config is an abstraction around the %Config hash. By itself it is
 not a particularly interesting module by any measure, however it ties
 together a family of modern toolchain modules.
 This build is specifically for OpenResty uses.

Package: openresty-perl-extutils-config-dbgsym
Section: debug
Architecture: any
Depends: ${misc:Depends}, openresty-perl-extutils-config (>= ${source:Version})
Description: Debug symbols for the openresty-perl-extutils-config package
 Debug symbols (or debuginfo) for the openresty-perl-extutils-config package.
