Source: openresty-libmemcached
Section: libs
Priority: optional
Maintainer: OpenResty Admin <admin@openresty.com>
Build-Depends: debhelper (>= 9), libtool, autoconf, automake, bison, flex, openresty-cyrus-sasl-dev, openresty-plus-openssl111-dev (>= 1.1.1l)
Standards-Version: 3.9.8
Homepage: https://github.com/simplegeo/libmemcached

Package: openresty-libmemcached
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}, openresty-plus-openssl111 (>= 1.1.1l), openresty-cyrus-sasl
Description: The libmemcached library for OpenResty
 The libmemcached library for OpenResty ONLY

Package: openresty-libmemcached-dev
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}, openresty-libmemcached (>= ${source:Upstream-Version})
Description: Development files for OpenResty's libmemcached library
 Provides C header and library for OpenResty's libmemcached library.

Package: openresty-libmemcached-dbgsym
Section: debug
Architecture: any
Depends: ${misc:Depends}, openresty-libmemcached (>= ${source:Upstream-Version})
Description: Debug symbols for the openresty-libmemcached package
 Debug symbols (or debuginfo) for the openresty-libmemcached package.
