#!/usr/bin/make -f

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

export NO_PKG_MANGLE=1
export QA_RPATHS=$[ 0x0002 ]

DESTDIR = $(CURDIR)/debian/tmp

PREFIX = /usr/local/openresty-plus/libmemcached
SASL_PREFIX = /usr/local/openresty-plus/cyrus-sasl

%:
	dh $@ --parallel --with autotools-dev

override_dh_auto_test:

override_dh_usrlocal:

override_dh_auto_configure:

override_dh_auto_build:
	CXXFLAGS="-I$(SASL_PREFIX)/include -Wno-error=unsafe-loop-optimizations" \
		LDFLAGS="-L$(SASL_PREFIX)/lib -Wl,-rpath,$(SASL_PREFIX)/lib" \
  ./configure --prefix=$(PREFIX) --libdir=$(PREFIX)/lib --with-memcached=false \
  --enable-libmemcachedprotocol --enable-shared --disable-docs --disable-static --with-memcached=false \
		&& make -j`nproc`

override_dh_auto_install:
	make install DESTDIR=$(DESTDIR) \
		&& rm -fr $(DESTDIR)$(PREFIX)/bin \
		&& rm -fr $(DESTDIR)$(PREFIX)/share \
		&& rm -rf $(DESTDIR)$(PREFIX)/lib/*.la \
		&& rm -rf $(DESTDIR)$(PREFIX)/lib/pkgconfig

override_dh_auto_clean:
	dh_clean
	rm -rf $(DESTDIR)

override_dh_strip:
	dh_strip --dbg-package=openresty-libmemcached-dbgsym
