openresty-keepalived (2.2.1-2~[% distro %]1) [% distro %]; urgency=high

  * upgrade the version of the dependency openssl111 to 1.1.1k.

 -- OpenResty Admin <admin@openresty.com>  Fri, 16 Jul 2021 16:24:00 +0800

openresty-keepalived (2.2.1-1~[% distro %]1) [% distro %]; urgency=high

  * initial build for openresty-keepalived

 -- OpenResty Admin <admin@openresty.com>  Thu, 25 Feb 2021 14:50:00 +0800

