#!/usr/bin/make -f

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

export NO_PKG_MANGLE=1
export QA_RPATHS=$[ 0x0002 ]

DESTDIR = $(CURDIR)/debian/tmp

%:
	dh $@ --parallel --with autotools-dev,systemd

override_dh_auto_test:

override_dh_usrlocal:

override_dh_auto_configure:

override_dh_auto_build:
	export GCC_COLORS="error=01;31:warning=01;35:note=01;36:range1=32:range2=34:locus=01:\
quote=01:fixit-insert=32:fixit-delete=31:\
diff-filename=01:diff-hunk=32:diff-delete=31:diff-insert=32:\
type-diff=01;32" \
		&& ./configure --prefix=/usr/local/openresty-postgresql12 \
            --with-libxml \
            --with-blocksize=32 \
            --with-segsize=2 \
            --with-wal-blocksize=64 \
            --with-libxslt \
            --with-openssl \
            --with-ossp-uuid \
            CC='ccache gcc' \
            CFLAGS="-O2 -g3" \
            LDFLAGS="-L. -Wl,-rpath,/usr/local/openresty-postgresql12/lib" \
		&& make -j`nproc` MAKELEVEL=0

override_dh_auto_install:
	make install DESTDIR=$(DESTDIR) MAKELEVEL=0 \
		&& make install-world DESTDIR=$(DESTDIR) MAKELEVEL=0 \
		&& rm -rf $(DESTDIR)//usr/local/openresty-postgresql12/share/man \
    $(DESTDIR)//usr/local/openresty-postgresql12/share/doc \
		&& rm -f $(DESTDIR)//usr/local/openresty-postgresql12/lib/*/*.o \
    $(DESTDIR)//usr/local/openresty-postgresql12/lib/st[a-zA-Z0-9]* \
		&& install -d $(DESTDIR)/etc/init.d \
		&& install -p -m 0755 openresty-postgresql12.init $(DESTDIR)/etc/init.d/openresty-postgresql12

override_dh_auto_clean:
	dh_clean
	rm -fr $(DESTDIR)

override_dh_strip:
	dh_strip --dbg-package=openresty-postgresql12-dbgsym
