openresty (1.11.2.3-2~[% distro %]1) [% distro %]; urgency=low

  * Fixed wthe file list of the openresty-opm package.

 -- OpenResty Admin <admin@openresty.com>  Mon, 01 May 2017 01:51:26 +0800

openresty (1.11.2.3-1~[% distro %]1) [% distro %]; urgency=low

  * Initial release

 -- OpenResty Admin <admin@openresty.com>  Mon, 01 May 2017 01:51:26 +0800
