Source: openresty
Section: httpd
Priority: optional
Maintainer: OpenResty Admin <admin@openresty.com>
Build-Depends: debhelper (>= 9), autotools-dev, dh-systemd,
 systemtap-sdt-dev, openresty-zlib-dev, openresty-openssl-dev (>= 1.1.0h),
 openresty-pcre-dev (>= 8.42),
 perl, libfile-temp-perl
Standards-Version: 3.9.8
Homepage: https://openresty.org/

Package: openresty-resty
Section: utils
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
 openresty (>= ${source:Upstream-Version}),
 perl, libfile-spec-perl, libfile-temp-perl, libtime-hires-perl
Description: resty command-line utility for OpenResty
 This package contains the "resty" command-line utility for OpenResty, which
 runs OpenResty Lua scripts on the terminal using a headless NGINX behind the
 scene.
 .
 OpenResty is a full-fledged web platform by integrating the standard Nginx
 core, LuaJIT, many carefully written Lua libraries, lots of high quality
 3rd-party Nginx modules, and most of their external dependencies. It is
 designed to help developers easily build scalable web applications, web
 services, and dynamic web gateways.

Package: openresty-opm
Section: utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 openresty (>= ${source:Upstream-Version}), openresty-resty (>= ${source:Upstream-Version}),
 curl, tar, gzip, libdigest-md5-perl, libencode-perl, libfile-spec-perl, libfile-temp-perl
Description: OpenResty Package Manager (OPM)
 This package provides the client side tool, opm, for OpenResty Pakcage Manager
 (OPM).
 .
 OpenResty is a full-fledged web platform by integrating the standard Nginx
 core, LuaJIT, many carefully written Lua libraries, lots of high quality
 3rd-party Nginx modules, and most of their external dependencies. It is
 designed to help developers easily build scalable web applications, web
 services, and dynamic web gateways.

Package: openresty
Architecture: any
Recommends: openresty-resty, openresty-opm
Suggests: openresty-restydoc
Depends: ${shlibs:Depends}, ${misc:Depends},
 openresty-zlib, openresty-openssl (>= 1.1.0h), openresty-pcre (>= 8.42)
Description: core server of OpenResty for production use
 This package contains the core server for OpenResty. Built for production
 uses.
 .
 OpenResty is a full-fledged web platform by integrating the standard Nginx
 core, LuaJIT, many carefully written Lua libraries, lots of high quality
 3rd-party Nginx modules, and most of their external dependencies. It is
 designed to help developers easily build scalable web applications, web
 services, and dynamic web gateways.
 .
 By taking advantage of various well-designed Nginx modules (most of which
 are developed by the OpenResty team themselves), OpenResty effectively
 turns the nginx server into a powerful web app server, in which the web
 developers can use the Lua programming language to script various existing
 nginx C modules and Lua modules and construct extremely high-performance
 web applications that are capable to handle 10K ~ 1000K+ connections in
 a single box.

Package: openresty-restydoc
Section: utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, perl, libfile-spec-perl,
    libfile-temp-perl
Description: OpenResty documentation tool, restydoc
 This package contains the official OpenResty documentation index and
 the "restydoc" command-line utility for viewing it.
 .
 OpenResty is a full-fledged web platform by integrating the standard Nginx
 core, LuaJIT, many carefully written Lua libraries, lots of high quality
 3rd-party Nginx modules, and most of their external dependencies. It is
 designed to help developers easily build scalable web applications, web
 services, and dynamic web gateways.

Package: openresty-dbgsym
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, openresty
Description: Debug symbols of OpenResty packages
 Debug symbols of OpenResty packages
