# Stop dance for OpenResty
# =======================
#
# nginx systemd reference doc:
# https://www.nginx.com/resources/wiki/start/topics/examples/systemd/
# In the world of systemd, `PIDFile` is not very important, $MAINPID will be set to the main process of the daemon
#
[Unit]
Description=OpenResty (full-fledged web platform)
After=network.target

[Service]
#This is Default Prefix build in OpenResty official repo
Environment=OPENRESTY_PREFIX=/usr/local/openresty/nginx/
#User can overwrite this environment via `systemctl edit openresty` to create a override file
Type=forking
ExecStartPre=/usr/bin/openresty -p ${OPENRESTY_PREFIX} -t -q -g 'daemon on; master_process on;'
ExecStart=/usr/bin/openresty -p ${OPENRESTY_PREFIX} -g 'daemon on; master_process on;'
ExecReload=/usr/bin/openresty -p ${OPENRESTY_PREFIX} -g 'daemon on; master_process on;' -s reload
ExecStop=/usr/bin/openresty -p ${OPENRESTY_PREFIX} -g 'daemon on; master_process on;' -s stop
KillMode=mixed

[Install]
WantedBy=multi-user.target
