openresty-pcre2 (10.46-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 10.46.

 -- OpenResty Admin <admin@openresty.com>  Sun, 19 Oct 2025 22:34:43 +0800

openresty-pcre2 (10.45-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 10.45.

 -- OpenResty Admin <admin@openresty.com>  Sat, 21 Jun 2025 17:27:13 +0800

openresty-pcre2 (10.44-2~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 10.44.

 -- OpenResty Admin <admin@openresty.com>  Thu, 3 Apr 2025 10:15:27 +0800

openresty-pcre2 (10.44-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 10.44.

 -- OpenResty Admin <admin@openresty.com>  Tue, 20 Aug 2024 10:15:27 +0800

openresty-pcre2 (10.42-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 10.42.

 -- OpenResty Admin <admin@openresty.com>  Mon, 27 Nov 2023 08:32:43 +0800

openresty-pcre2 (10.39-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded pcre2 to 10.39.

 -- OpenResty Admin <admin@openresty.com>  Tue, 29 Mar 2022 00:00:00 +0800

