lua-resty-http-fast-1.25.3 (0.0.2-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded lua-resty-http-fast to 0.0.2.

 -- OpenResty Admin <admin@openresty.com>  Sun, 6 Oct 2024 23:23:24 -0700

lua-resty-http-fast-1.25.3 (0.0.1-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded lua-resty-http-fast to 0.0.1.

 -- OpenResty Admin <admin@openresty.com>  Fri, 4 Oct 2024 15:35:46 +0800

