#!/usr/bin/make -f

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

export NO_PKG_MANGLE=1
export QA_RPATHS=$[ 0x0002 ]

DESTDIR = $(CURDIR)/debian/tmp
PATH := $(HOME)/.local/bin:/usr/local/openresty-python3/bin:$(PATH)

%:
	dh $@ --parallel --with autotools-dev,systemd

override_dh_auto_test:

override_dh_usrlocal:

override_dh_auto_configure:

override_dh_auto_build:
	wget -O get-pip.py https://bootstrap.pypa.io/get-pip.py;
	python3 get-pip.py
	pip3 install --user meson
	pip3 install --user spin
	pip3 install --user ninja

	export ATLAS=None; \
		export BLAS=/usr/lib; \
		export LAPACK=/usr/lib; \
		CFLAGS= CXXFLAGS= PATH="/usr/local/openresty-python3/bin:$(PATH)" spin build  -j`nproc` -- --prefix=/usr/local/openresty-python3

override_dh_auto_install:
	export ATLAS=None; \
		export FFTW=/usr/lib; \
		export BLAS=/usr/lib; \
		export LAPACK=/usr/lib; \
		rm -rf build-install/usr/local/openresty-python3/lib/python3.12/site-packages/numpy/{compat,core,distutils,f2py,fft,lib,linalg,ma,matrixlib,polynomial,random,testing}/tests \
		&& install -d $(DESTDIR) && cp -ra build-install/* $(DESTDIR)/

override_dh_auto_clean:
	dh_clean
	rm -rf $(DESTDIR)

override_dh_strip:
	dh_strip --dbg-package=openresty-python3-numpy-dbgsym
