#!/usr/bin/make -f

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

export NO_PKG_MANGLE=1
export QA_RPATHS=$[ 0x0002 ]

DESTDIR = $(CURDIR)/debian/tmp

%:
	dh $@ --parallel --with autotools-dev,systemd

override_dh_auto_test:

override_dh_usrlocal:

override_dh_auto_configure:

override_dh_auto_build:
	export ATLAS=None; \
		export BLAS=/usr/lib; \
		export LAPACK=/usr/lib; \
		export LDFLAGS='-shared'; \
	PATH="/usr/local/openresty-python3/bin:$(PATH)" /usr/local/openresty-python3/bin/python3 setup.py build -j`nproc`

override_dh_auto_install:
	export ATLAS=None; \
		export FFTW=/usr/lib; \
		export BLAS=/usr/lib; \
		export LAPACK=/usr/lib; \
		PATH="/usr/local/openresty-python3/bin:$(PATH)" /usr/local/openresty-python3/bin/python3 setup.py install --root $(DESTDIR) \
		&& sed -i 's/from .testing import/# from .testing import/g' $(DESTDIR)/usr/local/openresty-python3/lib/python3.7/site-packages/numpy/__init__.py \
		&& rm -rf $(DESTDIR)/usr/local/openresty-python3/lib/python3.7/site-packages/numpy/{compat,core,distutils,f2py,fft,lib,linalg,ma,matrixlib,polynomial,random,testing}/tests \
		&& rm -rf $(DESTDIR)/usr/local/openresty-python3/lib/python3.7/site-packages/numpy/doc \
		&& rm -rf $(DESTDIR)/usr/local/openresty-python3/lib/python3.7/site-packages/numpy-1.16.4-py3.7.egg-info \
		&& find $(DESTDIR) -name \*.so -exec chmod 755 {} +
	-rm -rf $(DESTDIR)/../../doc/changelog

override_dh_auto_clean:
	dh_clean
	rm -rf $(DESTDIR)

override_dh_strip:
	dh_strip --dbg-package=openresty-python3-numpy-dbgsym
