openresty-stap (4.0.0.1-1~[% distro %]1) [% distro %]; urgency=low

  * upgraded to 4.0.0.1.

 -- OpenResty Admin <admin@openresty.com>  Sun, 9 Dec 2018 18:18:26 -0800

openresty-stap (3.3.0.11-1~[% distro %]1) [% distro %]; urgency=low

  * Initial release

 -- OpenResty Admin <admin@openresty.com>  Sat, 3 Nov 2018 18:48:30 -0700
