Source: openresty-stap
Section: devel
Priority: optional
Maintainer: OpenResty Admin <admin@openresty.com>
Build-Depends: debhelper (>= 9), autotools-dev, gettext (>= 0.19.4), libnss3-dev,
 libnspr4-dev, pkg-config, libnss3-tools, libavahi-client-dev, m4
Standards-Version: 3.9.8
Homepage: http://sourceware.org/systemtap/

Package: openresty-stap
Architecture: linux-any
Depends: openresty-stap-runtime (= ${binary:Version}), ${shlibs:Depends},
 ${misc:Depends}, make, lsb-release
Description: OpenResty's fork of SystemTap
 OpenResty's fork of SystemTap is an instrumentation system for systems running Linux.
 Developers can write instrumentation scripts to collect data on
 the operation of the system. The base systemtap package contains/requires
 the components needed to locally develop and execute systemtap scripts.

Package: openresty-stap-runtime
Architecture: linux-any
Depends: adduser
Description: instrumentation system for Linux (runtime component)
 This package contains staprun program that can be used to run
 compiled SystemTap probes.

Package: openresty-stap-sdt-dev
Architecture: any
Depends: ${misc:Depends}, python:any
Description: Statically defined probes development files for OpenResty's fork of SystemTap
 This package contains header file and executable (dtrace) that
 can be used to add static probes into userspace applications
 for use with OpenResty's fork of SystemTap.
 .
 OpenResty's fork of SystemTap provides infrastructure to simplify the gathering of
 information about the running Linux system.

Package: openresty-stap-dbgsym
Section: debug
Architecture: any
Depends: ${misc:Depends}, openresty-stap
Description: Debug symbols for OpenResty's fork of SystemTap
 Debug symbols for OpenResty's fork of SystemTap
