Source: openresty-perl-opcodes
Section: libdevel
Priority: optional
Maintainer: OpenResty Admin <admin@openresty.com>
Build-Depends: debhelper (>= 9), openresty-perl (>= 5.24.4), openresty-perl-dev (>= 5.24.4)
Standards-Version: 3.9.8
Homepage: http://search.cpan.org/dist/opcodes/

Package: openresty-perl-opcodes
Architecture: any
Section: libdevel
Depends: ${misc:Depends}, openresty-perl (>= 5.24.4)
Description: More Opcodes information from opnames.h and opcode.h
 A perl module
 This build is specifically for OpenResty uses.

Package: openresty-perl-opcodes-dbgsym
Section: debug
Architecture: any
Depends: ${misc:Depends}, openresty-perl-opcodes (>= ${source:Version})
Description: Debug symbols for the openresty-perl-Opcodes package
 Debug symbols (or debuginfo) for the openresty-perl-Opcodes package.
