#!/usr/bin/make -f

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

export NO_PKG_MANGLE=1
export QA_RPATHS=$[ 0x0002 ]

DESTDIR = $(CURDIR)/debian/tmp

%:
	dh $@ --parallel --with autotools-dev

override_dh_auto_test:

override_dh_usrlocal:

override_dh_auto_configure:

override_dh_auto_build:
	mkdir build \
		&& CXXFLAGS="-O3 -g" LDFLAGS="-Wl,-rpath,/usr/local/openresty-opencc/lib" cmake -DCMAKE_INSTALL_PREFIX:PATH=/usr/local/openresty-opencc -DENABLE_GETTEXT:BOOL=ON -DCMAKE_BUILD_TYPE=Release \
		&& make -j`nproc` PREFIX=/usr/local/openresty-opencc

override_dh_auto_install:
	make install DESTDIR=$(DESTDIR) PREFIX=/usr/local/openresty-opencc \
		&& rm -f  $(DESTDIR)/usr/local/openresty-opencc/lib/*.la \
		&& rm -rf $(DESTDIR)/usr/local/openresty-opencc/lib/pkgconfig

override_dh_auto_clean:
	dh_clean
	rm -rf $(DESTDIR)

override_dh_strip:
	dh_strip --dbg-package=openresty-opencc-dbgsym
