openresty-debug (1.19.3.1-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.19.3.1.

 -- OpenResty Admin <admin@openresty.com>  Fri, 6 Nov 2020 00:09:01 -0800

openresty-debug (1.17.8.2-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.17.8.2.

 -- OpenResty Admin <admin@openresty.com>  Mon, 13 Jul 2020 11:36:57 -0700

openresty-debug (1.17.8.1-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.17.8.1.

 -- OpenResty Admin <admin@openresty.com>  Sat, 4 Jul 2020 00:18:38 -0700

openresty-debug (1.15.8.3-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.15.8.3.

 -- OpenResty Admin <admin@openresty.com>  Fri, 20 Mar 2020 14:04:13 -0700

openresty-debug (1.15.8.2-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.15.8.2.

 -- OpenResty Admin <admin@openresty.com>  Thu, 29 Aug 2019 16:49:13 -0700

openresty-debug (1.15.8.1-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.15.8.1.

 -- OpenResty Admin <admin@openresty.com>  Thu, 16 May 2019 16:33:10 -0700

openresty-debug (1.13.6.2-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.

 -- OpenResty Admin <admin@openresty.com>  Mon, 14 May 2018 16:44:21 -0700

openresty-debug (1.13.6.1-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.1.

 -- OpenResty Admin <admin@openresty.com>  Sun, 12 Nov 2017 23:15:21 -0800

openresty-debug (1.11.2.5-2~[% distro %]1) [% distro %]; urgency=low

  * enabled -DNGX_LUA_ABORT_AT_PANIC and -DNGX_LUA_USE_ASSERT by default.

  * /usr/local/openresty/nginx/conf/* was not treated as conffiles.

 -- OpenResty Admin <admin@openresty.com>  Thu, 21 Sep 2017 11:53:26 -0700

openresty-debug (1.11.2.5-1~[% distro %]1) [% distro %]; urgency=low

  * upgraded OpenResty to 1.11.2.5.

 -- OpenResty Admin <admin@openresty.com>  Thu, 17 Aug 2017 11:53:26 -0700

openresty-debug (1.11.2.4-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.11.2.4.

 -- OpenResty Admin <admin@openresty.com>  Tue, 11 Jul 2017 11:53:26 -0700

openresty-debug (1.11.2.3-1~[% distro %]1) [% distro %]; urgency=low

  * Initial release

 -- OpenResty Admin <admin@openresty.com>  Mon, 01 May 2017 01:52:01 +0800
