Source: coro-libcurl-nginx-module-1.25.3
Section: libdevel
Priority: optional
Maintainer: OpenResty Admin <admin@openresty.com>
Build-Depends: debhelper (>= 9), ccache, gcc, make, perl,
 coro-nginx-module-1.25.3-dev (>= 0.0.12), openresty-elf-loader-dev,
 openresty-libcurl-dev, openresty-elfutils-dev, openresty-zlib-dev, openresty,
 openresty-pcre-dev, openresty-openssl111-dev (>= 1.1.1n)
Standards-Version: 3.9.8
Homepage: https://www.openresty.com/

Package: coro-libcurl-nginx-module-1.25.3
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends}, ${misc:Depends}, coro-nginx-module-1.25.3 (>= 0.0.12), openresty-libcurl (>= 7.81.0.4)
Description: Coroutine implemented libcurl nginx module for OpenResty
 This is the coroutine implemented libcurl nginx module for OpenResty.

Package: coro-libcurl-nginx-module-1.25.3-dbgsym
Section: debug
Architecture: any
Depends: ${misc:Depends}, coro-libcurl-nginx-module-1.25.3 (>= ${source:Upstream-Version})
Description: Debug symbols for the coro-libcurl-nginx-module-1.25.3 package
 Debug symbols (or debuginfo) for the coro-libcurl-nginx-module-1.25.3 package.
