#!/usr/bin/make -f

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

export NO_PKG_MANGLE=1
export QA_RPATHS=$[ 0x0002 ]

PREFIX=/usr/local/openresty-coro-nginx-module
LIBCURL_PREFIX=/usr/local/openresty/libcurl
ELF_LOADER_PREFIX=/usr/local/elf-loader
LIBCCO_PREFIX=/usr/local/libcco
ZLIB_PREFIX=/usr/local/openresty/zlib
PCRE_PREFIX=/usr/local/openresty/pcre
OPENSSL_PREFIX=/usr/local/openresty/openssl111
ELFUTILS_PREFIX=/usr/local/openresty-elfutils

DESTDIR = $(CURDIR)/debian/tmp

%:
	dh $@ --parallel --with autotools-dev

override_dh_auto_test:

override_dh_usrlocal:

override_dh_auto_configure:

override_dh_auto_build:
	cd openresty-*/ && ./configure \
    --with-cc='ccache gcc' \
    --with-cc-opt="-DNGX_HTTP_CORO_USE_FREE_LISTS -I$(ZLIB_PREFIX)/include -I$(PCRE_PREFIX)/include -I$(OPENSSL_PREFIX)/include -I$(ELFUTILS_PREFIX)/include -I$(ELF_LOADER_PREFIX)/include -I$(PREFIX)/include -I$(LIBCURL_PREFIX)/include" \
    --with-ld-opt="-L$(ZLIB_PREFIX)/lib -L$(PCRE_PREFIX)/lib -L$(OPENSSL_PREFIX)/lib -L$(ELFUTILS_PREFIX)/lib -L$(ELF_LOADER_PREFIX)/lib -L$(PREFIX)/lib -L$(LIBCURL_PREFIX)/lib -Wl,-rpath,$(ZLIB_PREFIX)/lib:$(PCRE_PREFIX)/lib:$(OPENSSL_PREFIX)/lib:$(ELFUTILS_PREFIX)/lib:$(ELF_LOADER_PREFIX)/lib:$(PREFIX)/lib:$(LIBCURL_PREFIX)/lib" \
    --with-compat \
    --add-dynamic-module=../ \
    -j`nproc` && \
	make -C build/nginx-*/ modules -j`nproc`

	for f in `find lualib/resty/ -type f -name '*.lua'`; do \
		/usr/local/openresty/luajit/bin/luajit -bg $$f $${f%.lua}.ljbc; \
		rm $$f; \
	done

override_dh_auto_install:
	rm -rf $(DESTDIR)
	mkdir -p $(DESTDIR)$(PREFIX)/lib
	mkdir -p $(DESTDIR)/usr/local/openresty/site/lualib/resty
	cd openresty-* && install -m755 build/nginx-*/objs/*.so $(DESTDIR)$(PREFIX)/lib/
	sed -i 's|lib/resty/\*.lua|lib/resty/\*.ljbc|g' Makefile
	make install DESTDIR=$(DESTDIR) LUA_LIB_DIR=/usr/local/openresty/site/lualib

override_dh_auto_clean:
	dh_clean
	rm -rf $(DESTDIR)

override_dh_strip:
	dh_strip --dbg-package=coro-libcurl-nginx-module-1.25.3-dbgsym
