openresty-postgresql12-auto-failover (2.1-1~[% distro %]1) [% distro %]; urgency=high

  * Initial build for pg_auto_failover on PostgreSQL 12

 -- OpenResty Admin <admin@openresty.com>  Wed, 11 Sep 2024 00:00:00 -0700

