#!/usr/bin/make -f

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

export NO_PKG_MANGLE=1
export QA_RPATHS=$[ 0x0002 ]

DESTDIR = $(CURDIR)/debian/tmp

%:
	dh $@ --parallel --with autotools-dev

override_dh_auto_test:

override_dh_usrlocal:

override_dh_auto_configure:

override_dh_auto_build:
	make -j`nproc` PG_CONFIG=/usr/local/openresty-postgresql12/bin/pg_config

override_dh_auto_install:
	make install DESTDIR=$(DESTDIR) PG_CONFIG=/usr/local/openresty-postgresql12/bin/pg_config

override_dh_auto_clean:
	dh_clean
	rm -rf $(DESTDIR)

override_dh_strip:
	dh_strip --dbg-package=openresty-postgresql12-auto-failover-dbgsym
