openresty-plus-debug (1.19.3.1.35-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty+ to 1.19.3.1.35.

 -- OpenResty Admin <admin@openresty.com>  Sun, 20 Jun 2021 22:00:11 -0700

openresty-plus-debug (1.19.3.1.34-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty+ to 1.19.3.1.34.

 -- OpenResty Admin <admin@openresty.com>  Mon, 7 Jun 2021 19:53:18 -0700

openresty-plus-debug (1.19.3.1.33-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty+ to 1.19.3.1.33.

 -- OpenResty Admin <admin@openresty.com>  Tue, 25 May 2021 22:31:18 -0700

openresty-plus-debug (1.19.3.1.32-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty+ to 1.19.3.1.32.

 -- OpenResty Admin <admin@openresty.com>  Mon, 24 May 2021 21:35:11 -0700

openresty-plus-debug (1.19.3.1.31-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty+ to 1.19.3.1.31.

 -- OpenResty Admin <admin@openresty.com>  Wed, 19 May 2021 22:57:52 -0700

openresty-plus-debug (1.19.3.1.30-2~[% distro %]1) [% distro %]; urgency=high

  * change: make symlink of maxminddb and hyperscan.

 -- OpenResty Admin <admin@openresty.com>  Wed, 19 May 2021 13:23:51 +0800

openresty-plus-debug (1.19.3.1.30-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty+ to 1.19.3.1.30.

 -- OpenResty Admin <admin@openresty.com>  Tue, 11 May 2021 20:51:51 -0700

openresty-plus-debug (1.19.3.1.29-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty+ to 1.19.3.1.29.

 -- OpenResty Admin <admin@openresty.com>  Thu, 29 Apr 2021 23:28:55 -0700

openresty-plus-debug (1.19.3.1.28-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty+ to 1.19.3.1.28.

 -- OpenResty Admin <admin@openresty.com>  Wed, 28 Apr 2021 17:56:04 -0700

openresty-plus-debug (1.19.3.1.27-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty+ to 1.19.3.1.27.

 -- OpenResty Admin <admin@openresty.com>  Thu, 22 Apr 2021 12:00:11 -0700

openresty-plus-debug (1.19.3.1.26-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty+ to 1.19.3.1.26.

 -- OpenResty Admin <admin@openresty.com>  Mon, 19 Apr 2021 11:23:04 -0700

openresty-plus-debug (1.19.3.1.25-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty+ to 1.19.3.1.25.

 -- OpenResty Admin <admin@openresty.com>  Wed, 14 Apr 2021 00:41:13 -0700

openresty-plus-debug (1.19.3.1.24-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty+ to 1.19.3.1.24.

 -- OpenResty Admin <admin@openresty.com>  Fri, 9 Apr 2021 12:14:29 -0700

openresty-plus-debug (1.19.3.1.22-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty+ to 1.19.3.1.22.

 -- OpenResty Admin <admin@openresty.com>  Tue, 6 Apr 2021 20:26:41 -0700

openresty-plus-debug (1.19.3.1.21-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty+ to 1.19.3.1.21.

 -- OpenResty Admin <admin@openresty.com>  Wed, 31 Mar 2021 20:40:07 -0700

openresty-plus-debug (1.19.3.1.20-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty+ to 1.19.3.1.20.

 -- OpenResty Admin <admin@openresty.com>  Sat, 27 Mar 2021 21:11:36 -0700

openresty-plus-debug (1.19.3.1.19-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty+ to 1.19.3.1.19.

 -- OpenResty Admin <admin@openresty.com>  Thu, 25 Mar 2021 19:30:40 -0700

openresty-plus-debug (1.19.3.1.18-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty+ to 1.19.3.1.18.

 -- OpenResty Admin <admin@openresty.com>  Sat, 20 Mar 2021 17:11:22 -0700

openresty-plus-debug (1.19.3.1.17-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty+ to 1.19.3.1.17.

 -- OpenResty Admin <admin@openresty.com>  Fri, 12 Mar 2021 13:26:53 -0800

openresty-plus-debug (1.19.3.1.16-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty+ to 1.19.3.1.16.

 -- OpenResty Admin <admin@openresty.com>  Wed, 10 Mar 2021 19:33:17 -0800

openresty-plus-debug (1.19.3.1.15-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty+ to 1.19.3.1.15.

 -- OpenResty Admin <admin@openresty.com>  Tue, 9 Mar 2021 10:00:57 -0800

openresty-plus-debug (1.19.3.1.14-2~[% distro %]1) [% distro %]; urgency=high

  * more fixes.

 -- OpenResty Admin <admin@openresty.com>  Fri, 5 Mar 2021 12:37:29 -0800

openresty-plus-debug (1.19.3.1.14-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty+ to 1.19.3.1.14.

 -- OpenResty Admin <admin@openresty.com>  Fri, 5 Mar 2021 12:37:29 -0800

openresty-plus-debug (1.19.3.1.13-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty+ to 1.19.3.1.13.

 -- OpenResty Admin <admin@openresty.com>  Fri, 5 Mar 2021 12:31:43 -0800

openresty-plus-debug (1.19.3.1.12-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty+ to 1.19.3.1.12.

 -- OpenResty Admin <admin@openresty.com>  Mon, 1 Mar 2021 22:57:56 -0800

openresty-plus-debug (1.19.3.1.11-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty+ to 1.19.3.1.11.

 -- OpenResty Admin <admin@openresty.com>  Fri, 26 Feb 2021 23:49:50 -0800

openresty-plus-debug (1.19.3.1.9-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty+ to 1.19.3.1.9.

 -- OpenResty Admin <admin@openresty.com>  Tue, 9 Feb 2021 20:01:00 -0800

openresty-plus-debug (1.19.3.1.8-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty+ to 1.19.3.1.8.

 -- OpenResty Admin <admin@openresty.com>  Wed, 3 Feb 2021 00:06:01 -0800

openresty-plus-debug (1.19.3.1.7-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty+ to 1.19.3.1.7.

 -- OpenResty Admin <admin@openresty.com>  Fri, 15 Jan 2021 19:54:47 -0800

openresty-plus-debug (1.19.3.1.6-2~[% distro %]1) [% distro %]; urgency=high

  * upgraded packaging script to include lua-resty-ldap, lua-resty-session,
    lua-resty-openidc, lua-resty-jwt, lua-resty-hmac.

 -- OpenResty Admin <admin@openresty.com>  Wed, 30 Dec 2020 18:04:06 -0800

openresty-plus-debug (1.19.3.1.6-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty+ to 1.19.3.1.6.

 -- OpenResty Admin <admin@openresty.com>  Tue, 29 Dec 2020 00:04:06 -0800

openresty-plus-debug (1.19.3.1.5-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty+ to 1.19.3.1.5.

 -- OpenResty Admin <admin@openresty.com>  Thu, 24 Dec 2020 15:27:33 -0800

openresty-plus-debug (1.19.3.1.4-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty+ to 1.19.3.1.4.

 -- OpenResty Admin <admin@openresty.com>  Thu, 24 Dec 2020 14:38:49 -0800

openresty-plus-debug (1.19.3.1.3-3~[% distro %]1) [% distro %]; urgency=high

  * changed dependency of openresty-maxminddb to openresty-maxminddb-debug.

 -- OpenResty Admin <admin@openresty.com>  Wed, 25 Nov 2020 09:29:26 +0800

openresty-plus-debug (1.19.3.1.3-2~[% distro %]1) [% distro %]; urgency=high

  * added dependency of openresty-maxminddb.

 -- OpenResty Admin <admin@openresty.com>  Tue, 24 Nov 2020 14:49:26 -0800

openresty-plus-debug (1.19.3.1.3-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty+ to 1.19.3.1.3.

 -- OpenResty Admin <admin@openresty.com>  Tue, 17 Nov 2020 18:27:26 -0800

openresty-plus-debug (1.19.3.1.1-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty+ to 1.19.3.1.1.

 -- OpenResty Admin <admin@openresty.com>  Fri, 13 Nov 2020 21:20:06 -0800

openresty-plus-debug (1.17.8.2.10-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty+ to 1.17.8.2.10.

 -- OpenResty Admin <admin@openresty.com>  Tue, 27 Oct 2020 01:16:39 -0700

openresty-plus-debug (1.17.8.2.9-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty+ to 1.17.8.2.9.

 -- OpenResty Admin <admin@openresty.com>  Tue, 27 Oct 2020 00:46:44 -0700

openresty-plus-debug (1.17.8.2.8-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty+ to 1.17.8.2.8.

 -- OpenResty Admin <admin@openresty.com>  Tue, 13 Oct 2020 21:52:37 -0700

openresty-plus-debug (1.17.8.2.7-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty+ to 1.17.8.2.7.

 -- OpenResty Admin <admin@openresty.com>  Fri, 9 Oct 2020 00:28:09 -0700

openresty-plus-debug (1.17.8.2.6-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty+ to 1.17.8.2.6.

 -- OpenResty Admin <admin@openresty.com>  Thu, 1 Oct 2020 23:22:48 -0700

openresty-plus-debug (1.17.8.2.5-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty+ to 1.17.8.2.5.

 -- OpenResty Admin <admin@openresty.com>  Thu, 1 Oct 2020 22:40:59 -0700

openresty-plus-debug (1.17.8.2.4-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.17.8.2.4.

 -- OpenResty Admin <admin@openresty.com>  Wed, 30 Sep 2020 22:12:46 -0700

openresty-plus-debug (1.17.8.2.3-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.17.8.2.3.

 -- OpenResty Admin <admin@openresty.com>  Wed, 02 Sep 2020 14:33:23 +0800

openresty-plus-debug (1.17.8.2.2-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.17.8.2.2.

 -- OpenResty Admin <admin@openresty.com>  Thu, 27 Aug 2020 18:03:45 -0700

openresty-plus-debug (1.17.8.2.1-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.17.8.2.1.

 -- OpenResty Admin <admin@openresty.com>  Wed, 26 Aug 2020 19:46:56 -0700

openresty-plus-debug (1.17.8.2.0-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.17.8.2.0.

 -- OpenResty Admin <admin@openresty.com>  Thu, 20 Aug 2020 14:32:38 -0700

openresty-plus-debug (1.15.8.2.10-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.15.8.2.10.

 -- OpenResty Admin <admin@openresty.com>  Sun, 21 Jun 2020 22:41:38 -0700

openresty-plus-debug (1.15.8.2.9-2~[% distro %]1) [% distro %]; urgency=high

  * added libc-dev dependency as required by tcc.

 -- OpenResty Admin <admin@openresty.com>  Sat, 6 Jun 2020 02:10:01 -0700

openresty-plus-debug (1.15.8.2.9-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.15.8.2.9.

 -- OpenResty Admin <admin@openresty.com>  Sat, 6 Jun 2020 02:10:01 -0700

openresty-plus-debug (1.15.8.2.8-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.15.8.2.8.

 -- OpenResty Admin <admin@openresty.com>  Sat, 4 Apr 2020 18:23:41 -0700

openresty-plus-debug (1.15.8.2.7-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.15.8.2.7.

 -- OpenResty Admin <admin@openresty.com>  Sun, 22 Mar 2020 12:10:11 -0700

openresty-plus-debug (1.15.8.2.6-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.15.8.2.6.

 -- OpenResty Admin <admin@openresty.com>  Mon, 9 Mar 2020 09:31:01 -0700

openresty-plus-debug (1.15.8.2.5-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.15.8.2.5.

 -- OpenResty Admin <admin@openresty.com>  Wed, 29 Jan 2020 14:50:04 -0800

openresty-plus-debug (1.15.8.2.4-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.15.8.2.4.

 -- OpenResty Admin <admin@openresty.com>  Thu, 2 Jan 2020 20:49:05 -0800

openresty-plus-debug (1.15.8.2.3-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.15.8.2.3.

 -- OpenResty Admin <admin@openresty.com>  Fri, 20 Sep 2019 00:53:28 -0700

openresty-plus-debug (1.15.8.2.2-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.15.8.2.2.

 -- OpenResty Admin <admin@openresty.com>  Tue, 17 Sep 2019 00:36:01 -0700

openresty-plus-debug (1.15.8.2.1-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.15.8.2.1.

 -- OpenResty Admin <admin@openresty.com>  Wed, 11 Sep 2019 19:04:52 -0700

openresty-plus-debug (1.15.8.1.12-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.15.8.1.12.

 -- OpenResty Admin <admin@openresty.com>  Thu, 8 Aug 2019 08:45:55 -0700

openresty-plus-debug (1.15.8.1.11-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.15.8.1.11.

 -- OpenResty Admin <admin@openresty.com>  Thu, 1 Aug 2019 22:59:34 -0700

openresty-plus-debug (1.15.8.1.10-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.15.8.1.10.

 -- OpenResty Admin <admin@openresty.com>  Thu, 1 Aug 2019 17:48:49 -0700

openresty-plus-debug (1.15.8.1.9-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.15.8.1.9.

 -- OpenResty Admin <admin@openresty.com>  Mon, 29 Jul 2019 21:50:11 -0700

openresty-plus-debug (1.15.8.1.8-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.15.8.1.8.

 -- OpenResty Admin <admin@openresty.com>  Thu, 11 Jul 2019 11:48:00 -0700

openresty-plus-debug (1.15.8.1.7-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.15.8.1.7.

 -- OpenResty Admin <admin@openresty.com>  Mon, 1 Jul 2019 23:07:44 -0700

openresty-plus-debug (1.15.8.1.6-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.15.8.1.6.

 -- OpenResty Admin <admin@openresty.com>  Wed, 26 Jun 2019 16:45:10 -0700

openresty-plus-debug (1.15.8.1.5-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.15.8.1.5.

 -- OpenResty Admin <admin@openresty.com>  Wed, 19 Jun 2019 14:30:11 -0700

openresty-plus-debug (1.15.8.1.4-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.15.8.1.4.

 -- OpenResty Admin <admin@openresty.com>  Mon, 17 Jun 2019 23:41:49 -0700

openresty-plus-debug (1.15.8.1.3-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.15.8.1.3.

 -- OpenResty Admin <admin@openresty.com>  Thu, 6 Jun 2019 16:06:43 -0700

openresty-plus-debug (1.15.8.1.2-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.15.8.1.2.

 -- OpenResty Admin <admin@openresty.com>  Thu, 30 May 2019 21:27:47 -0700

openresty-plus-debug (1.15.8.1.1-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.15.8.1.1.

 -- OpenResty Admin <admin@openresty.com>  Tue, 28 May 2019 16:10:12 -0700

openresty-plus-debug (1.15.8.1.0-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.15.8.1.0.

 -- OpenResty Admin <admin@openresty.com>  Mon, 27 May 2019 19:43:37 -0700

openresty-plus-debug (1.13.6.2.64-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.64.

 -- OpenResty Admin <admin@openresty.com>  Fri, 17 May 2019 23:02:21 -0700

openresty-plus-debug (1.13.6.2.63-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.63.

 -- OpenResty Admin <admin@openresty.com>  Wed, 15 May 2019 18:22:00 -0700

openresty-plus-debug (1.13.6.2.62-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.62.

 -- OpenResty Admin <admin@openresty.com>  Tue, 30 Apr 2019 20:43:50 -0700

openresty-plus-debug (1.13.6.2.61-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.61.

 -- OpenResty Admin <admin@openresty.com>  Fri, 26 Apr 2019 00:07:33 -0700

openresty-plus-debug (1.13.6.2.60-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.60.

 -- OpenResty Admin <admin@openresty.com>  Wed, 24 Apr 2019 02:19:44 -0700

openresty-plus-debug (1.13.6.2.59-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.59.

 -- OpenResty Admin <admin@openresty.com>  Mon, 1 Apr 2019 20:35:09 -0700

openresty-plus-debug (1.13.6.2.58-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.58.

 -- OpenResty Admin <admin@openresty.com>  Sat, 30 Mar 2019 19:31:32 -0700

openresty-plus-debug (1.13.6.2.57-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.57.

 -- OpenResty Admin <admin@openresty.com>  Wed, 27 Mar 2019 22:23:44 -0700

openresty-plus-debug (1.13.6.2.56-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.56.

 -- OpenResty Admin <admin@openresty.com>  Wed, 20 Mar 2019 19:48:46 -0700

openresty-plus-debug (1.13.6.2.55-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.55.

 -- OpenResty Admin <admin@openresty.com>  Fri, 1 Mar 2019 23:23:36 -0800

openresty-plus-debug (1.13.6.2.53-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.53.

 -- OpenResty Admin <admin@openresty.com>  Sun, 10 Feb 2019 20:26:58 -0800

openresty-plus-debug (1.13.6.2.52-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.52.

 -- OpenResty Admin <admin@openresty.com>  Wed, 30 Jan 2019 21:15:56 -0800

openresty-plus-debug (1.13.6.2.51-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.51.

 -- OpenResty Admin <admin@openresty.com>  Sun, 20 Jan 2019 11:28:52 -0800

openresty-plus-debug (1.13.6.2.50-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.50.

 -- OpenResty Admin <admin@openresty.com>  Wed, 16 Jan 2019 22:36:20 -0800

openresty-plus-debug (1.13.6.2.49-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.49.

 -- OpenResty Admin <admin@openresty.com>  Mon, 7 Jan 2019 17:20:02 -0800

openresty-plus-debug (1.13.6.2.48-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.48.

 -- OpenResty Admin <admin@openresty.com>  Fri, 4 Jan 2019 15:06:12 -0800

openresty-plus-debug (1.13.6.2.47-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.47.

 -- OpenResty Admin <admin@openresty.com>  Thu, 3 Jan 2019 11:33:52 -0800

openresty-plus-debug (1.13.6.2.46-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.46.

 -- OpenResty Admin <admin@openresty.com>  Tue, 1 Jan 2019 16:10:03 -0800

openresty-plus-debug (1.13.6.2.45-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.45.

 -- OpenResty Admin <admin@openresty.com>  Mon, 31 Dec 2018 11:51:21 -0800

openresty-plus-debug (1.13.6.2.44-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.44.

 -- OpenResty Admin <admin@openresty.com>  Sun, 30 Dec 2018 21:59:29 -0800

openresty-plus-debug (1.13.6.2.43-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.43.

 -- OpenResty Admin <admin@openresty.com>  Sun, 30 Dec 2018 15:47:00 -0800

openresty-plus-debug (1.13.6.2.42-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.42.

 -- OpenResty Admin <admin@openresty.com>  Thu, 27 Dec 2018 20:32:57 -0800

openresty-plus-debug (1.13.6.2.41-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.41.

 -- OpenResty Admin <admin@openresty.com>  Mon, 24 Dec 2018 23:32:53 -0800

openresty-plus-debug (1.13.6.2.40-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.40.

 -- OpenResty Admin <admin@openresty.com>  Wed, 19 Dec 2018 21:56:15 -0800

openresty-plus-debug (1.13.6.2.39-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.39.

 -- OpenResty Admin <admin@openresty.com>  Mon, 17 Dec 2018 21:17:21 -0800

openresty-plus-debug (1.13.6.2.38-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.38.

 -- OpenResty Admin <admin@openresty.com>  Sat, 15 Dec 2018 21:14:40 -0800

openresty-plus-debug (1.13.6.2.37-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.37.

 -- OpenResty Admin <admin@openresty.com>  Sat, 15 Dec 2018 19:29:03 -0800

openresty-plus-debug (1.13.6.2.36-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.36.

 -- OpenResty Admin <admin@openresty.com>  Sat, 15 Dec 2018 15:55:35 -0800

openresty-plus-debug (1.13.6.2.35-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.35.

 -- OpenResty Admin <admin@openresty.com>  Sat, 15 Dec 2018 00:50:09 -0800

openresty-plus-debug (1.13.6.2.34-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.34.

 -- OpenResty Admin <admin@openresty.com>  Fri, 14 Dec 2018 22:39:35 -0800

openresty-plus-debug (1.13.6.2.33-2~[% distro %]1) [% distro %]; urgency=high

  * we incorrectly exclude libtcc1.a which is needed by the libtcc runtime.

  * we enable GC64 mode in the bundled LuaJIT.

 -- OpenResty Admin <admin@openresty.com>  Tue, 11 Dec 2018 20:04:04 -0800

openresty-plus-debug (1.13.6.2.33-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.33.

 -- OpenResty Admin <admin@openresty.com>  Tue, 11 Dec 2018 20:04:04 -0800

openresty-plus-debug (1.13.6.2.32-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.32.

 -- OpenResty Admin <admin@openresty.com>  Mon, 10 Dec 2018 01:12:18 -0800

openresty-plus-debug (1.13.6.2.31-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.31.

 -- OpenResty Admin <admin@openresty.com>  Sun, 9 Dec 2018 14:49:29 -0800

openresty-plus-debug (1.13.6.2.30-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.30.

 -- OpenResty Admin <admin@openresty.com>  Sun, 2 Dec 2018 21:20:35 -0800

openresty-plus-debug (1.13.6.2.29-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.29.

 -- OpenResty Admin <admin@openresty.com>  Thu, 22 Nov 2018 21:38:55 -0800

openresty-plus-debug (1.13.6.2.28-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 1.13.6.2.28.

 -- OpenResty Admin <admin@openresty.com>  Tue, 20 Nov 2018 17:07:53 -0800

openresty-plus-debug (1.13.6.2.27-1~[% distro %]1) [% distro %]; urgency=low

  * Upgrade plus to 1.13.6.2.27.

 -- OpenResty Admin <admin@openresty.com>  Sat, 3 Nov 2018 18:48:30 -0700

openresty-plus-debug (1.13.6.2.26-1~[% distro %]1) [% distro %]; urgency=low

  * Initial release

 -- OpenResty Admin <admin@openresty.com>  Sat, 3 Nov 2018 18:48:30 -0700
