#!/usr/bin/make -f

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

export NO_PKG_MANGLE=1
export QA_RPATHS=$[ 0x0002 ]

DESTDIR = $(CURDIR)/debian/tmp

%:
	dh $@ --parallel --with autotools-dev

override_dh_auto_test:

override_dh_usrlocal:

override_dh_auto_configure:

override_dh_auto_build:
	export JOBS=${JOBS:-9} \
		&& cd ./libiberty/ \
		&& CFLAGS=-fPIC ./configure \
		&& make -j${JOBS} > /dev/stderr \
		&& cc -shared ./cp-demangle.o ./rust-demangle.o ./d-demangle.o ./cplus-dem.o ./cp-demint.o ./safe-ctype.o -o libdemangle.so

override_dh_auto_install:
	mkdir -p $(DESTDIR)/usr/local/openresty-libdemangle/lib \
		&& mkdir -p $(DESTDIR)/usr/local/openresty-libdemangle/include \
		&& install -m 755 ./libiberty/libdemangle.so $(DESTDIR)/usr/local/openresty-libdemangle/lib/ \
		&& install -m 644 ./include/demangle.h $(DESTDIR)/usr/local/openresty-libdemangle/include/

override_dh_auto_clean:
	dh_clean
	rm -rf $(DESTDIR)

override_dh_strip:
	dh_strip --dbg-package=openresty-libdemangle-dbgsym
