Source: openresty-python3-goto
Section: libdevel
Priority: optional
Maintainer: OpenResty Admin <admin@openresty.com>
Build-Depends: debhelper (>= 9), openresty-python3-dev (>= 3.12.5), openresty-python3-setuptools (>= 75.1.0)
Standards-Version: 3.9.8
Homepage: https://github.com/snoack/python-goto

Package: openresty-python3-goto
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends}, ${misc:Depends}, openresty-python3 (>= 3.12.5)
Description: OpenResty's fork of python goto
 OpenResty's fork of python goto.
 A function decorator, that rewrites the bytecode, to enable goto in Python.
