#!/usr/bin/make -f

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

export NO_PKG_MANGLE=1
export QA_RPATHS=$[ 0x0002 ]

DESTDIR = $(CURDIR)/debian/tmp

%:
	dh $@ --parallel --with autotools-dev,systemd

override_dh_auto_test:

override_dh_usrlocal:

override_dh_auto_configure:

override_dh_auto_build:
	PATH="/usr/local/openresty-python3/bin:$(PATH)" /usr/local/openresty-python3/bin/python3 setup.py build -j`nproc`

override_dh_auto_install:
	PATH="/usr/local/openresty-python3/bin:$(PATH)" /usr/local/openresty-python3/bin/python3 setup.py install --root $(DESTDIR) \
		&& rm -rf $(DESTDIR)/usr/local/openresty-python3/lib/python3.12/site-packages/goto_statement-1.2-py3.12.egg-info

override_dh_auto_clean:
	dh_clean
	rm -rf $(DESTDIR)
