#!/usr/bin/make -f

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

export NO_PKG_MANGLE=1
export QA_RPATHS=$[ 0x0002 ]

DESTDIR = $(CURDIR)/debian/tmp
PREFIX = /usr/local/openresty-plus/maxminddb

%:
	dh $@ --parallel --with autotools-dev,systemd

override_dh_auto_test:

override_dh_usrlocal:

override_dh_auto_configure:

override_dh_auto_build:
	./configure \
    --prefix=/usr/local/openresty-plus \
    CC='ccache gcc' \
    CFLAGS="-g3 -O2" \
    --disable-tests \
		&& make -j`nproc` > /dev/null

override_dh_auto_install:
	install -d $(DESTDIR)$(PREFIX)/lib \
		&& install -c -m 755 ./src/.libs/libmaxminddb.so $(DESTDIR)$(PREFIX)/lib/libmaxminddb.so

override_dh_auto_clean:
	dh_clean
	rm -rf $(DESTDIR)

override_dh_strip:
	dh_strip --dbg-package=openresty-maxminddb-dbgsym
