#!/usr/bin/make -f

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

export NO_PKG_MANGLE=1
export QA_RPATHS=$[ 0x0002 ]

DESTDIR = $(CURDIR)/debian/tmp
NGX_CC_OPT = -I/opt/openresty-saas/zlib/include -I/usr/local/openresty/pcre/include -I/usr/local/openresty-plus/openssl111/include -O3
NGX_LD_OPT = -L/opt/openresty-saas/zlib/lib -L/usr/local/openresty/pcre/lib -L/usr/local/openresty-plus/openssl111/lib -Wl,-rpath,/opt/openresty-saas/zlib/lib:/usr/local/openresty/pcre/lib:/usr/local/openresty-plus/openssl111/lib

%:
	dh $@ --parallel --with autotools-dev

override_dh_auto_test:

override_dh_usrlocal:

override_dh_auto_configure:

override_dh_auto_build:
		mkdir build \
		&& cd build \
		&& cmake -DPCRE_ROOT_DIR=/usr/local/openresty/pcre -DNGX_OTEL_NGINX_BUILD_DIR=/usr/local/openresty-plus/build/nginx-1.19.9/objs -DOPENSSL_ROOT_DIR=/usr/local/openresty-plus/openssl111 -DZLIB_ROOT=/opt/openresty-saas/zlib .. \
 	        && free=`cat /proc/meminfo | grep  "^MemAvailable:" | awk '{printf "%d", $$2/1024}'`; ncpus=`nproc`; \
		max_jobs=$$(( $$free / 900 )); if [ "$$max_jobs" -gt "$$ncpus" ]; then \
		max_jobs=$$ncpus; fi; \
		make -j$$max_jobs

override_dh_auto_install:
	rm -rf $(DESTDIR) \
		&& mkdir -p $(DESTDIR)/usr/local/openresty-plus/nginx/modules \
		&& install -m755 build/ngx_otel_module.so $(DESTDIR)/usr/local/openresty-plus/nginx/modules

override_dh_auto_clean:
	dh_clean
	rm -rf $(DESTDIR)

override_dh_strip:
	dh_strip --dbg-package=openresty-otel-nginx-module-1.19.9-dbgsym
