openresty-keepalived-asan (2.2.4-1~[% distro %]1) [% distro %]; urgency=high

  * upgrade keepalived to 2.2.4.

 -- OpenResty Admin <admin@openresty.com>  Tue, 07 Dec 2021 00:00:00 -0700

openresty-keepalived-asan (2.2.1-1~[% distro %]1) [% distro %]; urgency=high

  * initial build for openresty-keepalived

 -- OpenResty Admin <admin@openresty.com>  Thu, 25 Feb 2021 00:00:00 -0700

