Source: openresty-keepalived-asan
Section: devel
Priority: optional
Maintainer: OpenResty Admin <admin@openresty.com>
Build-Depends: debhelper (>= 9), build-essential, pkg-config, automake, autoconf, ccache, gcc, openresty-plus-openssl111-dev (>= 1.1.1l), libnl-3-dev, libnl-genl-3-dev
Standards-Version: 3.9.8
Homepage: https://www.keepalived.org/

Package: openresty-keepalived-asan
Architecture: any
Section: devel
Depends: ${shlibs:Depends}, ${misc:Depends}, libnl-3-200, libnl-genl-3-200, openresty-plus-openssl111 (>= 1.1.1l)
Description: OpenResty Fork's of keepalived.
 The main goal of this project is to provide simple and robust facilities for
 loadbalancing and high-availability to Linux system and Linux based infrastructures.
 This is OpenResty's keepalived package.

Package: openresty-keepalived-asan-dbgsym
Section: debug
Architecture: any
Depends: ${misc:Depends}, openresty-keepalived-asan (>= ${source:Upstream-Version})
Description: Debug symbols for the openresty-keepalived-asan package
 Debug symbols (or debuginfo) for the openresty-keepalived-asan package.
