Source: openresty-openssl
Section: libs
Priority: optional
Maintainer: OpenResty Admin <admin@openresty.com>
Build-Depends: debhelper (>= 9), autotools-dev, openresty-zlib-dev
Standards-Version: 3.9.8
Homepage: https://www.openssl.org/

Package: openresty-openssl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, openresty-zlib
Description: OpenSSL library for use by OpenResty ONLY
 This OpenSSL library build is specifically for OpenResty uses. It contains
 custom patches from OpenResty.

Package: openresty-openssl-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, openresty-openssl (>= 1.1.0h)
Description: Development files for OpenResty's OpenSSL library
 Provides C header and static library for OpenResty's OpenSSL library.

Package: openresty-openssl-dbgsym
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, openresty-openssl (>= 1.1.0h)
Description: Debug symbols for OpenResty's OpenSSL library
 Debug symbols for OpenResty's OpenSSL library.
