#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#DH_VERBOSE = 1

# see EXAMPLES in dpkg-buildflags(1) and read /usr/share/dpkg/*
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed


export NO_PKG_MANGLE=1

export QA_RPATHS=$[ 0x0002 ]

# main packaging script based on dh7 syntax
%:
	dh $@ --parallel --with autotools-dev

override_dh_auto_configure:
	./config \
	  no-threads shared zlib -g \
	  enable-ssl3 enable-ssl3-method \
	  --prefix=/usr/local/openresty/openssl \
	  --libdir=lib \
	  -I/usr/local/openresty/zlib/include \
	  -L/usr/local/openresty/zlib/lib \
	  -Wl,-rpath,/usr/local/openresty/zlib/lib:/usr/local/openresty/openssl/lib

override_dh_usrlocal:

override_dh_auto_install:
	make install_sw DESTDIR=$(CURDIR)/debian/tmp

override_dh_install:
	dh_install
	rm -rf $(DESTDIR)/usr/local/openresty/openssl/bin/c_rehash
	rm -rf $(DESTDIR)/usr/local/openresty/openssl/lib/pkgconfig
	rm -rf $(DESTDIR)/usr/local/openresty/openssl/misc

override_dh_strip:
	dh_strip --dbg-package=openresty-openssl-dbgsym

override_dh_auto_test:
