#!/usr/bin/make -f

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

export NO_PKG_MANGLE=1
export QA_RPATHS=$[ 0x0002 ]

DESTDIR = $(CURDIR)/debian/tmp
PCRE_PREFIX = /opt/openresty-saas/pcre
PCRE2_PREFIX = /opt/openresty-saas/pcre2

%:
	dh $@ --parallel --with autotools-dev

override_dh_auto_test:

override_dh_usrlocal:

override_dh_auto_configure:

override_dh_auto_build:
	make -j`nproc` \
		CC='ccache gcc' \
		CFLAGS="-O3 -g3 -std=gnu99" \
		CXXFLAGS="-std=gnu++11 -g3 -Wall -Werror -O3 -I./src/include -I$(PCRE_PREFIX)/include -I$(PCRE2_PREFIX)/include" \
		LJ_GC_GRAPH_LDFLAGS="-L$(PCRE2_PREFIX)/lib -Wl,-rpath,$(PCRE2_PREFIX)/lib -lpcre2-8" \
		PCRE_PREFIX=$(PCRE_PREFIX)

override_dh_auto_install:
	make install \
		DESTDIR=$(DESTDIR) PREFIX=/usr/local/openresty-utils
	install -d $(DESTDIR)/usr/bin
	ln -sf /usr/local/openresty-utils/bin/resty2 $(DESTDIR)/usr/bin/resty2

override_dh_auto_clean:
	dh_clean
	rm -rf $(DESTDIR)

override_dh_strip:
	dh_strip --dbg-package=openresty-utils-dbgsym
