Source: openresty-saas-pcre
Section: libs
Priority: optional
Maintainer: OpenResty Admin <admin@openresty.com>
Build-Depends: debhelper (>= 9), autotools-dev
Standards-Version: 3.9.8
Homepage: http://www.pcre.org/

Package: openresty-saas-pcre
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Perl-compatible regular expression library for OpenResty SaaS ONLY
 Perl-compatible regular expression library for OpenResty SaaS ONLY

Package: openresty-saas-pcre-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, openresty-saas-pcre
Description: Development files for Perl-compatible regular expression library for OpenResty SaaS ONLY
 Development files for Perl-compatible regular expression library for OpenResty SaaS ONLY

Package: openresty-saas-pcre-dbgsym
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, openresty-saas-pcre
Description: Debug symbols for Perl-compatible regular expression library for OpenResty SaaS ONLY
 Debug symbols for Perl-compatible regular expression library for OpenResty SaaS ONLY
