openresty-perl-b-c (1.57-2~[% distro %]1) [% distro %]; urgency=high

  * removed unnecessary -D option from openresty-perl.

 -- OpenResty Admin <admin@openresty.com>  Thu, 27 Oct 2022 16:13:35 +0800

openresty-perl-b-c (1.57-1~[% distro %]1) [% distro %]; urgency=high

  * Generated using cpantorpm.

 -- OpenResty Admin <admin@openresty.com>  Mon, 08 Feb 2021 00:00:00 -0700

