openresty*/[^d]*
openresty*/d[^e]*
openresty*/de[^b]*
openresty*/*.*
openresty*/debian/*.log
openresty*/debian/*.substvars
openresty*/debian/changelog
openresty*/debian/tmp/
openresty*/debian/files
openresty*/debian/debhelper-build-stamp
openresty*/debian/.debhelper/
lib*-perl/[^d]*
lib*-perl*/d[^e]*
lib*-perl/de[^b]*
lib*-perl/*.*
lib*-perl/debian/lib*-perl*
lib*-perl/debian/changelog
lib*-perl/debian/tmp/
lib*-perl/debian/files
lib*-perl/debian/debhelper-build-stamp
lib*-perl/debian/.debhelper/
upload
go
[a-z].txt
*.upload
