openresty*/[^d]*
openresty*/d[^e]*
openresty*/de[^b]*
openresty*/*.*
openresty*/debian/*.log
openresty*/debian/*.substvars
openresty*/debian/changelog
openresty*/debian/tmp/
openresty*/debian/files
openresty*/debian/debhelper-build-stamp
openresty*/debian/.debhelper/
lib*-perl/[^d]*
lib*-perl*/d[^e]*
lib*-perl/de[^b]*
lib*-perl/*.*
lib*-perl/debian/lib*-perl*
lib*-perl/debian/changelog
lib*-perl/debian/tmp/
lib*-perl/debian/files
lib*-perl/debian/debhelper-build-stamp
lib*-perl/debian/.debhelper/
upload
go
[a-z].txt
*.upload
openresty-plus/debian/openresty-plus-dbgsym/
openresty-plus/debian/openresty-plus-opm/
openresty-plus/debian/openresty-plus-resty/
openresty-plus/debian/openresty-plus-restydoc/
openresty-plus/debian/openresty-plus/
upload-*
*.orig.tar
saved/
openresty-openssl/debian/openresty-openssl-dbgsym/
openresty-openssl/debian/openresty-openssl-dev/
openresty-openssl/debian/openresty-openssl/
openresty-plus-debug/debian/openresty-plus-debug-dbgsym/
openresty-plus-debug/debian/openresty-plus-debug-resty/
openresty-plus-debug/debian/openresty-plus-debug/
openresty-plus-hyperscan/debian/openresty-plus-hyperscan-dbgsym/
openresty-plus-hyperscan/debian/openresty-plus-hyperscan-dev/
openresty-plus-hyperscan/debian/openresty-plus-hyperscan-runtime/
openresty-plus-hyperscan/debian/openresty-plus-hyperscan/
openresty-plus-openssl-debug/debian/openresty-plus-openssl-debug-dbgsym/
openresty-plus-openssl-debug/debian/openresty-plus-openssl-debug-dev/
openresty-plus-openssl-debug/debian/openresty-plus-openssl-debug/
openresty-plus-openssl/debian/openresty-plus-openssl-dbgsym/
openresty-plus-openssl/debian/openresty-plus-openssl-dev/
openresty-plus-openssl/debian/openresty-plus-openssl/
openresty-python3/debian/openresty-python3-dbgsym/
openresty-python3/debian/openresty-python3-dev/
openresty-python3/debian/openresty-python3/
openresty-stap/debian/openresty-stap-dbgsym/
openresty-stap/debian/openresty-stap-runtime/
openresty-stap/debian/openresty-stap-sdt-dev/
openresty-stap/debian/openresty-stap/
