openresty-plus-core (1.19.9.1.5-2~[% distro %]1) [% distro %]; urgency=high

  * update release version to 1.19.9.1.5-2.

 -- OpenResty Admin <admin@openresty.com>  Thu, 2 Dec 2021 00:00:00 -0700

openresty-plus-core (1.19.9.1.5-1~[% distro %]1) [% distro %]; urgency=high

  * initial packaging.

 -- OpenResty Admin <admin@openresty.com>  Wed, 17 Nov 2021 00:00:00 -0700

