Source: openresty-elfutils
Section: devel
Priority: optional
Maintainer: OpenResty Admin <admin@openresty.com>
Build-Depends: debhelper (>= 9), gcc (>= 4.1.2), libc6 (>= 2.7), bison (>= 1.875), flex (>= 2.5.4a), m4, gettext, zlib1g-dev, libbz2-dev, liblzma-dev, g++, autoconf, openresty-yajl-dev (>= 2.1.0.3), gawk, sed
Standards-Version: 3.9.8
Homepage: http://sourceware.org/systemtap/

Package: openresty-elfutils
Architecture: any
Section: devel
Depends: ${shlibs:Depends}, ${misc:Depends}, libc6 (>= 2.7), libstdc++6, openresty-yajl (>= 2.1.0.3), libbz2-1.0, liblzma5, zlib1g
Description: OpenResty's fork of SystemTap
 OpenResty's fork of SystemTap is an instrumentation system for systems running Linux.
 Developers can write instrumentation scripts to collect data on
 the operation of the system. The base systemtap package contains/requires
 the components needed to locally develop and execute systemtap scripts.

Package: openresty-elfutils-dev
Architecture: any
Section: devel
Depends: ${shlibs:Depends}, ${misc:Depends}, openresty-elfutils (>= 0.176.6)
Description: devel files for OpenResty's fork of elfutils
 OpenResty's fork of elfutils.

Package: openresty-elfutils-dbgsym
Section: debug
Architecture: any
Depends: ${misc:Depends}, openresty-elfutils (>= 0.176.6)
Description: Debug symbols for the openresty-elfutils package
 Debug symbols (or debuginfo) for the openresty-elfutils package.
