openresty-pcre (8.42-1~[% distro %]1) [% distro %]; urgency=high

  * upgraded OpenResty to 8.42.

 -- OpenResty Admin <admin@openresty.com>  Mon, 14 May 2018 22:51:58 -0700

openresty-pcre (8.41-1~[% distro %]1) [% distro %]; urgency=low

  * upgraded pcre to 8.41

 -- OpenResty Admin <admin@openresty.com>  Thu, 2 Nov 2017 16:46:28 -0700

openresty-pcre (8.40-1~[% distro %]1) [% distro %]; urgency=low

  * Initial release

 -- OpenResty Admin <admin@openresty.com>  Sun, 30 Apr 2017 23:08:33 +0800
